<section class="section-content mb-0 min-height {% unless customer %}d-flex align-items-center justify-content-center{% endunless %}" data-template="account">
  <div class="account-heading-wrapper">
    <div class="container">
      {% if customer %}
      <ul class="list-inline mb-0 nav nav-tabs border-0 justify-content-center account-link mb-6" id="myTab" role="tablist" data-tablist>
        <li class="list-inline-item mr-0 my-2 my-md-3">
          <a class="px-3 font-barlow font-size-sm font-weight-medium ls-1" id="account" href="/account"  aria-controls="account">My Account</a>
        </li>
        <template v-if="!rechargeDashboard.subscriptions.length == 0">
          <li class="list-inline-item mr-0 my-2 my-md-3">
            <a class="px-3 font-barlow font-size-sm font-weight-medium ls-1" id="subscriptions-tab" href="/account#subscriptions"  aria-controls="subscriptions">My Subscriptions</a>
          </li>
          <li class="list-inline-item mr-0 my-2 my-md-3">
            <a class="px-3 font-barlow font-size-sm font-weight-medium ls-1" id="billing-tab" href="/account#billing-info"  aria-controls="billing-info" >Billing Information</a>
          </li>
        </template>
        {% comment %}
        <li class="list-inline-item mr-0 my-2 my-md-3">
          <a class="px-3 font-barlow font-size-sm font-weight-medium ls-1" id="refer-friend-tab"  href="https://owlcrate.com/pages/refer">Refer A Friend</a>
        </li>
        {% endcomment %}
        <li class="list-inline-item mr-0 my-2 my-md-3">
          <a class="px-3 font-barlow font-size-sm font-weight-medium ls-1" id="help-tab" href="/account#help" aria-controls="help">Help</a>
        </li>
        <li class="list-inline-item mr-0 my-2 my-md-3"><a href="/account/logout" class="px-3 font-barlow font-size-sm font-weight-medium ls-1">Sign out</a></li>
      </ul>
      
      <div class="row justify-content-center mb-5"><div class="col-12 col-lg-10 heading-wrapper text-center"><h2>Update Card</h2></div></div>
      <div class="account-content">
        <div class="row">
          <div class="col-12 col-xl-3 my-3 my-xl-4">
            {% comment %}
              <div class="account-info">
                <h5 class="mb-3">Account Details</h5>
                <p class="mb-2 mb-lg-4" data-customer-name>{{ customer.name }} <!-- (<a href="#" data-toggle="modal" data-target="#modal-edit-details">edit</a>)--> </p>
                <p class="mb-2 mb-lg-4 account-email">{{ customer.email }}</p>
                <p class="mb-2 mb-lg-4">Password:  ******   (<a href="/account/login#recover">reset</a>)</p>
                <p class="mb-0">Total Orders: {{ customer.orders_count }}</p>
              </div>
            {% endcomment %}
            <div class="account-info border p-2">
              <h5 class="mb-3 text-primary font-barlow">Account Details</h5>
              <p class="mb-1 mb-lg-2 font-weight-bold text-capitalize font-barlow" data-customer-name>{{ customer.name }}</p>
              <p class="mb-1 account-email font-barlow">{{ customer.email }}</p>
              <p class="mb-0"><span class="font-weight-bold font-barlow">Total Orders:</span> {{ customer.orders_count }}</p>
            </div>
            <div class="account-info mt-3 border p-2">
              <h5 class="mb-3 text-primary font-barlow">Account Options</h5>
              <p class="mb-1 font-barlow"><a href="/account/login#recover" style="color: blue;">Reset Password</a></p>
              <template v-if="!rechargeDashboard.subscriptions.length == 0">
                <p class="mb-1">
                  <a class="font-barlow font-weight-normal" id="billing-tab" 
                    href="#billing-info" @click.prevent="_toggleBill($event,'payment');"
                    aria-controls="billing-info" aria-selected="false" style="color: blue;">View/Edit Billing Info</a>
                </p>
              </template>
            </div>
          </div>
          <div class="col-12 col-xl-9 my-3">
            {% if customer.metafields.subscriptions.customer_string %}
            <template v-if="rechargeDashboard.isIFrameLoad == false">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="my-3">
                  <hollow-dots-spinner
                    :size="60"
                    :color="'#26bcb4'"
                  />
                </div>
                <p class="small text-gray-700">Please Wait...</p>
              </div>
            </template>

            <div data-recharge-payment-form class="opacity-iframe">
              <iframe width="100%" height="100%" src="https://shopifysubscriptions.com/customer_portal_forms/{{customer.metafields.subscriptions.customer_string}}/customer_card" name="payment-form" id="payment-form"></iframe>
            </div>

            <p v-show="rechargeDashboard.isIFrameLoad"><a href="/account#billing-info" class="font-barlow font-size-sm font-weight-medium text-uppercase ls-1 text-primary">Return to billing information</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
        <p class="text-center">For accessing this page you have to log in to your account if you are a subscriber.</p>
      {% endif %}
    </div>
 </div>
</section>