
<section class="section-related-products section-content" v-if="storeUtilities.relatedProducts.settings.enabled && storeUtilities.relatedProducts.currentProductEnabled">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title mb-4">Related Products</h2>
      </div>
    </div>

    <div class="row">

      <div v-for="product in storeUtilities.relatedProducts.products" class="d-flex align-items-stretch justify-content-around col-12 col-sm-6 col-lg-4 col-xl-3 my-3">

          <div class="card card-product text-left" v-match-heights="{el: ['.card-title']}">
            <span class="badges">
              <span v-if="product.compare_at_price > product.price" class="badge badge-warning">{{ 'products.product.on_sale' | t | escape }}</span>
            </span>
            <div class="card-img text-center" :class="{'bg-gray-300': !product.image.src}">
              <a v-if="product.image" :href="_getvariantUrl(product.handle, product.id)">
                <img
                    data-sizes="auto"
                    :src="_getSizedImageUrl(product.image.src, 'pico')"
                    :data-srcset="_getSizedImageUrl(product.image.src, '600x')"
                    :alt="product.name"
                    class="lazyload"/>
              </a>
              <span v-else>
                {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
              </span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <h6 class="card-title m-0">
                    <a :href="_getvariantUrl(product.handle, product.id)" v-text="product.title"></a>
                  </h6>
                </div>
                <div class="col-md-4 text-left text-md-right">
                  <s v-if="product.variants[0].compare_at_price > product.variants[0].price" v-html="_formatMoney(product.variants[0].compare_at_price)" class="price small m-0 p-0"></s>
                  <span v-html="_formatMoney(product.variants[0].price)" class="price m-0 p-0"></span>
                </div>
            </div>
            <div class="row no-gutters mt-3">
              <div class="col-12">
                <form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="d-flex justify-content-between">

                  <button class="btn btn-primary btn-sm flex-grow-1"
                    type="submit"
                    name="add"
                    aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                    :data-cart-limit="product.cart_limit"
                    @click.prevent="_addToCart(product.variants[0].id, $event)">
                      <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
                  </button>

                  {% if settings.enable_quickshop %}
                    <a href="#" @click.prevent="_viewQuickShop(product.handle, product.options, $event)" class="btn btn-outline-primary btn-sm ml-1" title="{{ 'products.product.quickshop' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                      <i class="icon ion-md-eye"></i>
                  </a>
                  {% endif %}

                  {% if settings.enable_wishlist %}
                    <template v-if="!_checkWishlist(product.variants[0].id)" >
                      <a href="#" @click.prevent="_addVariantToWishlist(product.handle, product.variants[0].id, $event)" class="btn btn-outline-primary btn-sm ml-1" title="{{ 'general.wishlist.add_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                        <i class="icon ion-md-star-outline"></i>
                      </a>
                    </template>
                    <template v-else>
                      <a class="btn btn-outline-primary btn-sm ml-1" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
                        <i class="icon ion-md-star"></i>
                      </a>
                    </template>
                  {% endif %}
                </form>
              </div>
            </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
