<div class="card card-product card-product-style-1 shadow-none border-0 text-left">

  <div class="card-img text-center position-relative card-search-item {% if item.featured_image.size == 0 %}bg-gray-300{% endif %}">
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}

      <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}" class="position-relative product-img">
        {% if item.object_type == 'product' %}
          {% if item.featured_image.size > 0 %}
            <img class="img-fluid w-auto h-100 lazyload"
                src="{{ item.featured_image | img_url: 'pico'}}"
                data-src="{{ item.featured_image | img_url: 'large' }}"
                alt="{{ item.featured_image.alt | escape }}"/>
          {% else %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
          {% endif %}
        {% else %}
          {% if item.image.size > 0 %}
            <img class="img-fluid w-auto h-100 lazyload"
                src="{{ item.image | img_url: 'pico'}}"
                data-src="{{ item.image | img_url: 'large' }}"
                alt="{{ item.image.alt | escape }}"/>
          {% else %}
            {% comment %}Extract 1st image from the item contents{% endcomment %}
            {% if item.content contains "<img" %}
              {% assign src = item.content | split: 'src="' %}
              {% assign src = src[1] | split: '"' | first %}
              <img class="img-fluid w-auto h-100 lazyload" src="{{ src }}">
            {% else %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'img-fluid w-auto h-100' }}
            {% endif %}
          {% endif %}
        {% endif %}
      </a>
  </div>

  <div class="card-body px-0">
      {% if item.object_type == 'product' %}
        <div class="card-title mb-1">
          <p class="font-weight-semi-bold text-uppercase ls-2 vendor-text mb-1">{{ item.vendor }}</p>
          <h5 class="m-0 display-4 ls-base">{{ item.title | link_to: item.url }}</h5>
        </div>
          {% comment %} <div class="text-uppercase small text-muted">{{ item.object_type }}</div> {% endcomment %}
          {% comment %} <h6 class="card-title m-0">{{ item.title | link_to: item.url }}</h6> {% endcomment %}
          {% if item.compare_at_price > item.price  %}
            <span class="price m-0 p-0 font-weight-semi-bold text-danger">{{ item.price | money }}</span>
            <s class="compare-price m-0 pl-2">{{ item.compare_at_price | money }}</s>
          {% else %}
            <span class="price m-0 p-0">{{ item.price | money }}</span>
          {% endif %}

      		{% comment %} {% if item.compare_at_price > item.price  %}
      			<s class="text-gray-700 m-0 p-0">{{ item.compare_at_price | money }}</s>
      		{% endif %}
          <span class="m-0 p-0">{{ item.price | money }}</span> {% endcomment %}
      {% else %}
        <div class="col-12">
          <div class="text-uppercase small text-muted">{{ item.object_type }}</div>
          <h6 class="card-title m-0">{{ item.title | link_to: item.url }}</h6>
        </div>
      {% endif %}

      {% comment %} <div class="col-12">
        <p class="mt-3">{{ item.content | strip_html | truncatewords: 15 }}</p>
      </div> {% endcomment %}
  </div>
</div>
