<div id="customerRegisterForm" data-register-form>
  {% form 'create_customer' %}

    {% comment %}
    <h3 class="text-center">{{ 'customer.register.title' | t }}</h3>
    {% endcomment %}

    {% if form.errors %}
    <div class="alert alert-warning">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerFirstName"><i class="icon ion-md-person"></i></label>
      </div>
      <input type="text" id="registerCustomerFirstName" name="customer[first_name]" aria-label="first name" class="form-control" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}" {% endif %} required>

      <input type="text" id="customerLastName" name="customer[last_name]" aria-label="last name" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}" {% endif %} required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerEmail"><i class="icon ion-md-mail"></i></label>
      </div>
      <input type="email" id="registerCustomerEmail" name="customer[email]" aria-label="email" class="form-control {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}" {% endif %} v-model="storeUtilities.loginHelper.customerEmail" autocorrect="off" autocapitalize="off" required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerPassword"><i class="icon ion-md-key"></i></label>
      </div>
      <input type="password" id="registerCustomerPassword" data-password-input name="customer[password]" aria-label="password" class="form-control {% if form.errors contains 'password' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>
    </div>

    <div class="mb-4">
      <div class="custom-control custom-checkbox">
        <input id="accepts_marketing" type="checkbox" name="customer[accepts_marketing]" aria-label="newsletter subscription" class="custom-control-input" checked="checked" />
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <label class="custom-control-label" for="accepts_marketing"><span>{{ 'customer.register.newsletter_subscribe' | t }}</span></label>
      </div>
      {% comment %} <label class="custom-control custom-checkbox">
        <input type="checkbox" name="customer[accepts_marketing]" aria-label="newsletter subscription" class="custom-control-input" checked="checked" />
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <span class="small">{{ 'customer.register.newsletter_subscribe' | t }}</span>
      </label> {% endcomment %}
    </div>

    {% comment %}
        <div class="form-group input-group recaptcha-wrapper">
            <template>
                <vue-recaptcha ref="recaptcha" @verify="onVerify" sitekey="6LevTm4hAAAAADfBc4vjsqOxfyfp9BJ2X9liCOSK" />
            </template>
        </div>
    {% endcomment %}

    <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.register.submit' | t }}">

  {% endform %}
</div>
