<div id="customerLoginForm" data-login-form>

  <transition name="fade">
    <div class="wrapper"> 
      {% form 'customer_login' %}

        {% if form.errors %}
        <div class="alert alert-warning shopify-warning" role="alert">
          {{ form.errors | default_errors }}
        </div>
        {% endif %}

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="customerEmail"><i class="icon ion-md-person"></i></label>
          </div>
          <input type="email" id="customerEmail" name="customer[email]" aria-label="email" class="form-control" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" required>
        </div>

        <div v-if="storeUtilities.loginHelper.isEmailEntered" class="form-group input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="customerPassword" style="display:none;"><i class="icon ion-md-key"></i></label>
          </div>
          <input type="password" autocomplete="off" id="customerPassword" name="customer[password]" aria-label="password" class="form-control" placeholder="{{ 'customer.login.password' | t }}" style="display:none;">
        </div>

        {% comment %}
            <div class="form-group input-group recaptcha-wrapper">
                <template>
                    <vue-recaptcha ref="recaptcha" @verify="onVerify" sitekey="6LevTm4hAAAAADfBc4vjsqOxfyfp9BJ2X9liCOSK" />
                </template>
            </div>
        {% endcomment %}

        <button class="btn btn-primary btn-block"
            type="submit"
            name="sign-in"
            @click="_submitLoginForm($event)">
                {{ 'customer.login.sign_in' | t }}
        </button>

        <p class="text-right mt-2 font-italic">
          <a data-recover-link href="#recover">{{ 'customer.login.forgot_password' | t }}</a>
        </p>

      {% endform %}
    </div>
  </transition>

</div>
