{% form 'product', product, class: "mt-1", data-product-form: "", data-product-id: product.id, data-productid: product.id %}

  <div class="row">
    <div class="w-100 mb-4 d-flex flex-wrap justify-content-between">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          {% assign option_name = option.name | downcase %}
          <div class="selector-wrapper col-12 col-sm-6 mt-3 mt-sm-0">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            {% if option_name == 'size' %}
              <a 
                id="size_guide_popup_trigger" 
                class="float-right" 
                href="/pages/size-guide"
                @click.prevent="_toggleSizeGuidePopup"
              >Size Guide</a>
            {% endif %}

            {% if enable_color_swatches and option_name == 'color' %}
              {% comment %} Color swatches {% endcomment %}
              <ul class="list-unstyled list-inline my-0 py-0">
                {% for value in option.values %}
                  <li class="list-inline-item">
                    <div class="color-swatch">
                      <label
                          data-toggle="tooltip"
                          data-trigger="hover"
                          title="{{ value | escape | replace: '-', ' ' }}"
                          :style="_getSwatchStyle('{{ value }}')">
                          <input
                            type="radio"
                            name="color"
                            aria-label="color"
                            value="{{ value | escape }}"
                            data-single-option-selector
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked="checked"{% endif %} >
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% elsif enable_size_swatches and option_name == 'size' %}
              {% comment %} Size swatches {% endcomment %}
              <ul class="list-unstyled list-inline my-0 py-0">
                {% for value in option.values %}
                  <li class="list-inline-item">
                    <div class="size-swatch">
                      <label>
                          <input
                            data-single-option-selector
                            type="radio"
                            name='size'
                            aria-label="size"
                            value="{{ value | escape }}"
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked="checked"{% endif %} >
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% else %}
              {% comment %} Normal select {% endcomment %}
              <select
                class="form-control form-control-sm"
                data-single-option-selector
                data-index="option{{ option.position }}"
                @change="_getVariant($event)">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        {% endfor %}

      {% endunless %}

      {% comment %} <div class="quantity-wrapper" data-qty-container>
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
              <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
            </a>
          </div>
          <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
          <div class="input-group-append">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
              <span class="btn-increase"><i class="icon ion-md-add"></i></span>
            </a>
          </div>
        </div>
      </div> {% endcomment %}
    </div>

  </div>


  {% comment %} DEFAULT HIDDEN OPTIONS SELECT {% endcomment %}
  {% comment %} DO NOT REMOVE THIS {% endcomment %}
  <div class="row" style="display: none !important;">
    <div class="col">
        <select name="id" data-productid="{{ product.id }}">
          {% for variant in product.variants %}
              <option
                data-sku="{{ variant.sku }}"
                value="{{ variant.id }}"
                data-product-id="{{ product.id }}"
                data-variant-id="{{ variant.id }}"
                data-discount-variant-id="{{ variant.metafields.subscriptions.discount_variant_id }}">
                {{ variant.title }} - {{ variant.price | money_with_currency }}
              </option>
          {% endfor %}
        </select>
    </div>
  </div>

  {% comment %} Recharge Subscription Widget {% endcomment %}
  {% if settings.enable_recharge and product.available and product.metafields.subscriptions.subscription_id %}
    <div data-recharge-subscription-widget="{{ product.id }}" class="row my-3" style="display:none !important;">
      <div class="col-12">
        <h6 class="my-2">Subscription:</h6>
        <div class="inner"></div>
      </div>
    </div>
  {% endif %}


  {% assign isSoldout = false %}
  {% assign planType = null %}
  {% if product.tags contains 'plan_adult' and settings.adult_soldout %}
    {% assign isSoldout = true %}
    {% assign planType = 'plan_adult' %}
  {% elsif product.tags contains 'plan_jr' and settings.jr_soldout %}
    {% assign isSoldout = true %}
    {% assign planType = 'plan_jr' %}
  {% endif %}

  <div class="row">
    <div class="col-12 mb-3">
      <div class="d-md-flex align-items-center">

        {% if planType == 'plan_adult' %}
          <template v-if="isUtmAdult">
            <button class="btn btn-lg btn-primary mb-4 mb-md-0"
              type="submit"
              name="add"
              :disabled="!currentVariant.available || cartLoading"
              :data-cart-limit="product.cart_limit"
              data-default-variant-id="{{ current_variant.id }}"
              @click.prevent="_addToCart(currentVariant.id, $event)">
                <template v-if="cartLoading && cartEvent == 'cartAdding'">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...
                </template>
                <template v-else>
                  <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
                  <span v-else>{{ 'products.product.sold_out' | t }}</span>
                </template>
            </button>
          </template>
          <template v-else>
            {% if isSoldout %}
              <button class="btn btn-lg btn-primary mb-4 mb-md-0"
                type="submit"
                name="add"
                data-default-variant-id="{{ current_variant.id }}"
                @click.prevent="_soldoutProduct('plan_adult', 'type-normal')">
                {{ settings.modal_adult_btn_txt }}
              </button>
            {% else %}
              <button class="btn btn-lg btn-primary mb-4 mb-md-0"
                type="submit"
                name="add"
                :disabled="!currentVariant.available || cartLoading"
                :data-cart-limit="product.cart_limit"
                data-default-variant-id="{{ current_variant.id }}"
                @click.prevent="_addToCart(currentVariant.id, $event)">
                  <template v-if="cartLoading && cartEvent == 'cartAdding'">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...
                  </template>
                  <template v-else>
                    <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
                    <span v-else>{{ 'products.product.sold_out' | t }}</span>
                  </template>
              </button>
            {% endif %}
          </template>
        {% elsif planType == 'plan_jr' %}
          <template v-if="isUtmJr">
            <button class="btn btn-lg btn-primary mb-4 mb-md-0"
              type="submit"
              name="add"
              :disabled="!currentVariant.available || cartLoading"
              :data-cart-limit="product.cart_limit"
              data-default-variant-id="{{ current_variant.id }}"
              @click.prevent="_addToCart(currentVariant.id, $event)">
                <template v-if="cartLoading && cartEvent == 'cartAdding'">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...
                </template>
                <template v-else>
                  <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
                  <span v-else>{{ 'products.product.sold_out' | t }}</span>
                </template>
            </button>
          </template>
          <template v-else>
            {% if isSoldout %}
              <button class="btn btn-lg btn-primary mb-4 mb-md-0"
                type="submit"
                name="add"
                data-default-variant-id="{{ current_variant.id }}"
                @click.prevent="_soldoutProduct('plan_jr', 'type-normal')">
                {{ settings.modal_adult_btn_txt }}
              </button>
            {% else %}
              <button class="btn btn-lg btn-primary mb-4 mb-md-0"
                type="submit"
                name="add"
                :disabled="!currentVariant.available || cartLoading"
                :data-cart-limit="product.cart_limit"
                data-default-variant-id="{{ current_variant.id }}"
                @click.prevent="_addToCart(currentVariant.id, $event)">
                  <template v-if="cartLoading && cartEvent == 'cartAdding'">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...
                  </template>
                  <template v-else>
                    <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
                    <span v-else>{{ 'products.product.sold_out' | t }}</span>
                  </template>
              </button>
            {% endif %}
          </template>
        {% else %}
          <button class="btn btn-lg btn-primary mb-4 mb-md-0"
            type="submit"
            name="add"
            :disabled="!currentVariant.available || cartLoading"
            :data-cart-limit="product.cart_limit"
            data-default-variant-id="{{ current_variant.id }}"
            @click.prevent="_addToCart(currentVariant.id, $event)">
              <template v-if="cartLoading && cartEvent == 'cartAdding'">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...
              </template>
              <template v-else>
                <span v-if="currentVariant.available">{{ 'products.product.add_to_cart' | t }}</span>
                <span v-else>{{ 'products.product.sold_out' | t }}</span>
              </template>
          </button>
        {% endif %}

        {% if section.settings.show_social_share %}
          <div class="d-flex align-items-center ml-md-7 social-sharing-filed">
            <p class="mb-0 mr-4 mr-md-3">{{ 'general.social.share' | t }}:</p>
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          </div>
        {% endif %}
      </div>

      {% comment %} Dynamic Checkout Button {% endcomment %}
      {% comment %} {% unless product.metafields.subscriptions.subscription_id %}
        <div class="mt-2">{{ form | payment_button }}</div>
      {% endunless %} {% endcomment %}

      {% comment %} {% if settings.enable_wishlist %}
        <div class="text-right mt-2">
          <div v-if="!_checkWishlist(currentVariant.id)">
            <a href="#" @click.prevent="_addVariantToWishlist(product.handle, currentVariant.id, $event)" rel="nofollow">
              <i class="icon ion-md-star-outline"></i> {{ 'general.wishlist.add_to_wishlist' | t }}
            </a>
          </div>
          <div v-else>
            <span><i class="icon ion-md-star"></i> Added to <a href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">Wishlist</a>
          </div>
        </div>
      {% endif %} {% endcomment %}

    </div>
  </div>

{% endform %}

