{%- if responsive -%}
    <div class="relative" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%; {% if min_wrapper_height != blank %}min-height:{{ min_wrapper_height }};{% endif %}">
{%- endif -%}

<img
    srcset="{%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 375w,{%- endif -%}
    {%- if image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
    {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
    {%- if image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
    {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
    {%- if image.width >= 1780 -%}{{ image | image_url: width: 1780 }} 1780w,{%- endif -%}
    {%- if image.width >= 2000 -%}{{ image | image_url: width: 2000 }} 2000w,{%- endif -%}
    {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
    {%- if image.width >= 3840 -%}{{ image | image_url: width: 3840 }} 3840w,{%- endif -%}
    {{ image | image_url }} {{ image.width }}w"
    sizes="100vw"
    src="{{ image | image_url: width: image.width }}"
    loading="{{ loading | default: 'lazy' }}"
    alt="{{ image.alt | escape }}"
    width="{{ image.width }}"
    height="{{ image.width | divided_by: image.aspect_ratio | round }}"
    class="absolute-img {{ class }}"
>

{%- if responsive -%}
    </div>
{%- endif -%}