  <div>

 {% include 'loading-indicator' %}

<form v-show="storeUtilities.ready" data-cart-form action="/cart" method="post">
  <div class="row no-gutters">
    <div class="col-12 col-lg-9">           
        <template v-if="hasSubscription">
          <div class="subscription-order">
            {% if section.settings.subscription_heading != '' %}<h5 class="cart-heading mb-1">{{section.settings.subscription_heading}}</h5>{% endif %}
            {% if section.settings.subscription_sub_heading != '' %}<p class="ls-1 mb-4">{{section.settings.subscription_sub_heading}}</p>{% endif %}
              <div class="cart-layout table-cart pr-lg-5">
                <div class="cart-body">
                  <div v-for="(item, index, key) in subscriptionOrder" 
                      data-cart-item
                      :key="item.id"
                      :data-variant-id="item.variant_id"
                      :data-cart-limit="item.properties['cart_limit']"
                      class="cart-item border border-secondary p-5 mb-5">
                    <div class="row">
                      <div class="col-12 mb-2 mb-md-0 col-md-6">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                          <div class="cart-img mr-3 mr-lg-4">
                            <a :href="item.url">
                              <div v-if="item.properties['promo_product']" class="ribbon position-absolute d-flex justify-content-start">
                                <div class="ribbon-left">
                                  <span><i class="icon ion-md-star"></i></span>
                                </div>
                              </div>
                              <img v-if="item.image" :src="_getSizedImageUrl(item.image ,'medium')" :alt="item.product_title" class="img-fluid item-img"/>
                              <template v-else>
                                {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                              </template>
                            </a>
                          </div>

                          <div class="cart-item-text">
                            <a :href="item.url" v-text="item.product_title" class="display-4 font-weight-semi-bold"></a>
                            <p class="font-size-sm mt-1" v-if="item.box_note != 'undefined'" v-text="item.box_note"></p>

                            {% comment %}ReCharge frequency{% endcomment %}
                            <div v-if="item.properties['gift_subscription_id']">
                              <p class="font-size-sm font-weight-bold font-italic text-danger mb-0" v-if="item.properties['type'].includes('gift')">
                                *Gift subscription
                              </p>
                            </div>
                            <div v-if="item.properties['subscription_id']">
                              <span class="font-size-sm font-weight-bold font-italic" v-if="item.properties['charge_interval_frequency'] == 1">
                                One-Time Box
                              </span>
                              <span class="font-size-sm font-weight-bold font-italic" v-else>
                                One-Time ${ item.properties['charge_interval_frequency'] }-Month Subscription
                              </span>
                            </div>

                          </div>

                        </div>
                      </div>

                      <div class="col-4 col-md-2">
                        <p class="cart-product-price cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.price' | t }}</p>
                        <s v-if="item.properties['promo_product']" class="text-muted m-0 p-0" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="m-0 p-0" v-text="_formatMoney(item.price)"></span>
                      </div>

                      <div class="col-5 col-md-2">
                        <p class="cart-product-quantity cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.quantity' | t }}</p>
                        <template v-if="item.properties['promo_product']">
                          <span>1</span>
                          <input type="hidden" name="updates[]" :id="'updates_'+item.key" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                        </template>

                        <div v-else class="quantity-wrapper mb-2" data-qty-container>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="#" class="input-group-text bg-transparent border-right-0" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateCart(item.line_index, $event)">
                                <span class="btn-decrease"></span>
                              </a>
                            </div>
                            <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity shadow-none form-control border-left-0 border-right-0 bg-transparent text-center ls-base px-0" readonly>
                            <div class="input-group-append">
                              <a href="#" class="input-group-text bg-transparent border-left-0" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateCart(item.line_index, $event)">
                                <span class="btn-increase"></span>
                              </a>
                            </div>
                          </div>

                        </div>
                        <a v-if="item.properties['add_mode'] != 'auto'" href="#" class="text-danger font-size-ex-sm text-uppercase"
                              title="{{ 'cart.general.remove' | t }}"
                              name="{{ 'cart.general.remove' | t }}"
                              aria-label="{{ 'cart.general.remove' | t }}"
                              @click.prevent="_removeFromCart(item.line_index, $event)">
                              {{ 'cart.general.remove' | t }}
                            </a>
                      </div>

                      <div class="col-3 col-md-2 text-center">
                        <p class="cart-product-subtotal cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.total' | t }}</p>
                        <s v-if="item.properties['promo_product']" class="text-muted" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="amount" v-text="_formatMoney(item.line_price)"></span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
          </div>
        </template>

        <template v-if="hasAddon">
          <div class="onetime-order">
            {% if section.settings.onetime_heading != '' %}<h5 class="cart-heading mb-1">{{section.settings.onetime_heading}}</h5>{% endif %}
            {% if section.settings.onetime_sub_heading != '' %}<p class="ls-1 mb-4">{{section.settings.onetime_sub_heading}}</p>{% endif %}
              <div class="cart-layout table-cart pr-lg-5">
                <div class="cart-body">
                  <div v-for="(item, index, key) in ontimeOrder"
                      data-cart-item
                      :key="item.id"
                      :data-variant-id="item.variant_id"
                      :data-cart-limit="item.properties['cart_limit']"
                      class="cart-item border border-secondary p-5 mb-5">
                    <div class="row">
                      <div class="col-12 mb-2 mb-md-0 col-md-6">
                        <div class="d-flex align-items-center align-items-md-start mb-3 mb-md-0">
                          <div class="cart-img mr-3 mr-lg-4">
                            <a :href="item.url">
                              <div v-if="item.properties['promo_product']" class="ribbon position-absolute d-flex justify-content-start">
                                <div class="ribbon-left">
                                  <span><i class="icon ion-md-star"></i></span>
                                </div>
                              </div>

                              <img v-if="item.image" :src="_getSizedImageUrl(item.image ,'medium')" :alt="item.product_title" class="img-fluid item-img"/>
                              <template v-else>
                                {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                              </template>
                            </a>
                          </div>
                          <div class="cart-item-text mt-md-4">
                            <a :href="item.url" v-text="item.product_title" class="display-4 font-weight-semi-bold"></a>

                            <ul v-show="item.options_with_values.length > 0" class="list-unstyled">
                              <li v-for="option in item.options_with_values" v-if="option.value != 'Default Title'">
                                <span class="text-muted small text-capitalize">${ option.name }:</span>
                                  <span class="text-muted small text-capitalize">${ option.value }</span>
                              </li>
                            </ul>

                          </div>

                        </div>
                      </div>

                      <div class="col-4 col-md-2">
                        <p class="cart-product-price cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.price' | t }}</p>
                        <s v-if="item.properties['promo_product']" class="text-muted m-0 p-0" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="m-0 p-0" v-text="_formatMoney(item.price)"></span>
                      </div>

                      <div class="col-5 col-md-2">
                        <p class="cart-product-quantity cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.quantity' | t }}</p>
                        <template v-if="item.properties['promo_product']">
                          <span>1</span>
                          <input type="hidden" name="updates[]" :id="'updates_'+item.key" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                        </template>

                        <div v-else class="quantity-wrapper mb-2" data-qty-container>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <a href="#" class="input-group-text bg-transparent border-right-0" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateCart(item.line_index, $event)">
                                <span class="btn-decrease"></span>
                              </a>
                            </div>
                            <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity shadow-none form-control border-left-0 border-right-0 bg-transparent text-center ls-base px-0" readonly>
                            <div class="input-group-append">
                              <a href="#" class="input-group-text bg-transparent border-left-0" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateCart(item.line_index, $event)">
                                <span class="btn-increase"></span>
                              </a>
                            </div>
                          </div>
                          
                        </div>
                        <a v-if="item.properties['add_mode'] != 'auto'" href="#" class="text-danger font-size-ex-sm text-uppercase"
                              title="{{ 'cart.general.remove' | t }}"
                              name="{{ 'cart.general.remove' | t }}"
                              aria-label="{{ 'cart.general.remove' | t }}"
                              @click.prevent="_removeFromCart(item.line_index, $event)">
                              {{ 'cart.general.remove' | t }}
                            </a>
                      </div>

                      <div class="col-3 col-md-2 text-center">
                        <p class="cart-product-subtotal cart-heading ls-1 font-size-ex-sm mb-3 d-none d-md-block">{{ 'cart.label.total' | t }}</p>
                        <s v-if="item.properties['promo_product']" class="text-muted" v-text="_formatMoney(item.price)"></s>
                        <span v-else class="amount" v-text="_formatMoney(item.line_price)"></span>
                      </div>

                    </div>
                  </div>                   
                </div>
              </div>  
          </div>
        </template>  

        <div class="row mt-5">
          {% if section.settings.enable_cart_notes %}
            <div class="col-md-6 col-lg-4 ml-right text-left mb-4">
              <textarea name="note" class="form-control" rows="5" placeholder="{{ 'cart.general.note' | t }}">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          {% if section.settings.enable_delivery_date_selection %}
            <div class="col-md-6 col-lg-4 ml-right text-left mb-5">
              <label>{{ 'cart.general.delivery_date' | t }}</label>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon ion-md-calendar"></i>
                  </span>
                </div>
                <flat-pickr
                    :value="cart.attributes.date"
                    :config="datePickerConfig"
                    :required="false"
                    name="attributes[date]"
                    aria-label="delivery date"
                    class="form-control">
                </flat-pickr>
              </div>
              <p class="small font-italic">{{ 'cart.general.delivery_date_note' | t }}</p>
            </div>
          {% endif %}

        </div>    

        {% if section.settings.enable_hear_about_us %}
          <div class="row pb-7">
            {% render 'cart-hear-about-us' %}
          </div>
        {% endif %}
    </div>

    <div class="col-12 col-md-5 col-lg-3">
      <div class="cart-sticky bg-gray-100 px-4 py-5 text-center">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">{{ 'cart.general.total' | t }}:&nbsp;</h6> 
          <h6 class="mb-0"><span v-text="_formatMoney(cart.total_price)"></span></h6>
        </div>
        
        <template v-if="storeUtilities.cartPromos.inCartTotalValue > 0">
          <div class="row align-items-center no-gutters">
            <div class="col">
              <h6 class="my-0">{{ 'cart.general.subtotal' | t }}:</h6>
            </div>
            <div class="col-4">
              <span v-text="_formatMoney(cart.subtotal_price)"></span>
            </div>
          </div>

          <div class="row no-gutters">
            <div class="col">
              <h6 class="my-0">{{ 'cart.general.discount' | t }}:</h6>
            </div>
            <div class="col-4"></div>
          </div>

          <div class="row no-gutters mb-4">
            <div class="col">
              <span class="small text-primary text-uppercase"
                    v-if="storeUtilities.cartPromos.settings.discountCode">
                <i class="icon ion-md-pricetag"></i> ${ storeUtilities.cartPromos.settings.discountCode }
              </span>
            </div>
            <div class="col-4">
              <span v-text="'-' + _formatMoney(storeUtilities.cartPromos.inCartTotalValue)"></span>
            </div>
          </div>
        </template>

        <button v-if="hearAboutUs.valid" class="btn btn-lg btn-primary btn-block"
          type="submit"
          name="checkout" data-checkout_redirect
          {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
          {{ 'cart.general.checkout' | t }}
        </button>

        <button v-else class="btn btn-lg btn-primary btn-block"
          type="submit"
          name="checkout" data-checkout_redirect
          onclick="event.preventDefault(); app._validateCartHearAboutUsInputs('check')">
          {{ 'cart.general.checkout' | t }}
        </button>

        <button v-if="hearAboutUs.valid" class="btn btn-lg btn-block btn-discount mt-2"
          type="submit"
          name="checkout" data-checkout_redirect
          {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
          {{ 'cart.general.checkout_promo_html' | t }}
        </button>

        <button v-else class="btn btn-lg btn-block btn-discount mt-2"
          type="submit"
          name="checkout" data-checkout_redirect
          onclick="event.preventDefault(); app._validateCartHearAboutUsInputs('check')">
          {{ 'cart.general.checkout_promo_html' | t }}
        </button>

        {% if additional_checkout_buttons %}
        {% comment %}span wrapper tag is needed by the ReCharce App{% endcomment %}
        <span class="additional-checkout-buttons d-none">
          <div id="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        </span>
        {% endif %}

        <p class="font-size-xs font-italic border-bottom pb-5 ls-1 text-light-gray mb-5 mt-4">{{ 'cart.general.shipping_at_checkout' | t}}</p>
        <h6 class="text-light-gray font-size-xs">Have a Promo Code?</h5>
        <p class="mb-0 ls-1 text-light-gray small">Continue to check out to apply it on your order!</p>
      </div> 
    </div>
  </div>
</form>

</div>