<section class="how-works-section position-relative">
  {% if section.settings.work_image != blank %}
    <img
         data-sizes="auto"
         src="{{ section.settings.work_image | img_url: 'original'}}"
         data-srcset="{{ section.settings.work_image | img_url: '320x' }} 320w,
                      {{ section.settings.work_image | img_url: '580x' }} 580w,
                      {{ section.settings.work_image | img_url: '800x' }} 800w,
                      {{ section.settings.work_image | img_url: '1024x' }} 576w
                      "
         class="how-works-background-image" />
  {% else %}
  	{{ 'image' | placeholder_svg_tag: 'how-works-background-image'}}
  {% endif %}
  <div class="custom-container">
    <h2 class="how-works-main-heading">{{ section.settings.section_heading }}</h2>
    <div class="custom-row">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="column-4">
            <div class="how-works-wrapper">
              <div class="icon-wrapper">
				{{ block.settings.work_icon }}
              </div>
              <h3 class="how-works-block-title">{{ block.settings.work_title }}</h3>
              <p class="how-works-block-data">{{ block.settings.work_details }}</p>
            </div>
          </div>
      	{% endfor %}
      {% else %}
        {% for i in  (1..3) %}
        <div class="column-4">
            <div class="how-works-wrapper">
              <div class="icon-wrapper">
                <svg class="how-works-icon" width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M41.1186 10.3218C42.5899 11.3772 43.5959 12.7652 43.9473 14.2331C44.34 15.8716 43.9061 17.5346 42.7281 18.9093L22.6361 42.359C21.6205 43.5452 20.0934 44.237 18.4428 44.257L10.691 44.3457H10.6692C9.82326 44.3457 9.08881 43.8135 8.89732 43.0597L7.1424 36.1551C6.76911 34.6851 7.13755 33.1618 8.1556 31.9756L10.7928 28.8958C11.4109 28.173 12.555 28.0444 13.3452 28.6142C14.1354 29.1796 14.2736 30.2262 13.6531 30.949L11.0158 34.0288C10.6813 34.419 10.5601 34.9179 10.6838 35.4012L12.1066 41.002L18.3967 40.9311C18.9372 40.9244 19.439 40.6983 19.7735 40.308L39.8654 16.8583C40.3793 16.2596 40.5562 15.6166 40.3963 14.9426C40.2242 14.2308 39.6861 13.5191 38.8765 12.9404L35.5072 10.5214C34.2031 9.59011 32.3634 9.11118 31.1078 10.5812L28.4536 13.6765L32.6664 16.7674C33.4493 17.3394 33.5753 18.3882 32.9475 19.1022C32.5888 19.5146 32.0604 19.7274 31.5271 19.7274C31.1296 19.7274 30.7272 19.6077 30.3927 19.3616L26.2114 16.2951L19.3372 24.3194C18.7167 25.0422 17.575 25.173 16.7824 24.601C15.9946 24.0356 15.8564 22.989 16.4745 22.2662L28.2451 8.52804C30.5285 5.85845 34.5279 5.59682 37.7493 7.90499L41.1186 10.3218ZM31.7247 41.02H47.1821C48.1856 41.02 49 41.765 49 42.683C49 43.6009 48.1856 44.3459 47.1821 44.3459H31.7247C30.7187 44.3459 29.9067 43.6009 29.9067 42.683C29.9067 41.765 30.7187 41.02 31.7247 41.02Z" fill="black"/>
                </svg>
              </div>
              <h3 class="how-works-block-title">Sign Up</h3>
              <p class="how-works-block-data">Sign up with your email and Instagram username on this page!</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
<!--       <div class="column-4">
        <div class="how-works-wrapper">
          <div class="icon-wrapper">
            <svg class="how-works-icon" width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M41.1553 13.4209C40.964 13.4209 40.789 13.3196 40.6233 13.0053C39.9607 11.7333 39.1487 10.1786 38.661 9.3095C37.5923 7.40675 35.7583 6.3499 33.4787 6.33513H22.5073C20.244 6.3499 18.4077 7.40675 17.339 9.31161C16.8653 10.1554 16.0837 11.6531 15.4327 12.9041L15.295 13.1656C15.2133 13.3217 15.0407 13.4209 14.847 13.4209C9.23301 13.4209 4.66667 17.5491 4.66667 22.6224V35.1443C4.66667 40.2176 9.23301 44.3459 14.847 44.3459H16.5853C17.5513 44.3459 18.3353 43.6371 18.3353 42.7638C18.3353 41.8905 17.5513 41.1817 16.5853 41.1817H14.847C11.1627 41.1817 8.16667 38.4731 8.16667 35.1443V22.6224C8.16667 19.2937 11.1627 16.5851 14.847 16.5851C16.3847 16.5851 17.8033 15.773 18.459 14.5178L18.5967 14.2541C19.2337 13.0306 19.999 11.5666 20.461 10.7418C20.9393 9.88961 21.581 9.50568 22.5237 9.49935H33.4647C34.4213 9.50568 35.0607 9.88961 35.539 10.7397C36.015 11.592 36.8107 13.1129 37.5433 14.5178C38.199 15.773 39.6177 16.5851 41.1553 16.5851C44.8373 16.5851 47.8333 19.2937 47.8333 22.6224V35.1443C47.8333 38.4731 44.8373 41.1817 41.1553 41.1817H24.6867C23.7207 41.1817 22.9367 41.8905 22.9367 42.7638C22.9367 43.6371 23.7207 44.3459 24.6867 44.3459H41.1553C46.767 44.3459 51.3333 40.2176 51.3333 35.1443V22.6224C51.3333 17.5491 46.767 13.4209 41.1553 13.4209ZM28.0019 36.4356C30.4542 36.4356 32.7642 35.5622 34.5072 33.9759C36.2409 32.398 37.1882 30.3223 37.1672 28.1432C37.1695 25.9324 36.2129 23.8462 34.4745 22.2746C32.7385 20.7051 30.4402 19.8424 28.0019 19.8424H27.9972C27.3252 19.8424 26.6532 19.9078 26.0022 20.0428C25.0595 20.2305 24.4645 21.0785 24.6769 21.9307C24.8869 22.7809 25.8202 23.3251 26.7652 23.1268C27.1689 23.0467 27.5819 23.0066 27.9995 23.0066H28.0019C29.5069 23.0066 30.9255 23.5424 31.9989 24.5128C33.0769 25.4873 33.6695 26.7741 33.6672 28.1537C33.6789 29.4954 33.0955 30.7695 32.0245 31.7462C30.9442 32.7292 29.5139 33.2713 28.0019 33.2713H27.9972C26.4852 33.2692 25.0642 32.7334 23.9932 31.7609C22.9199 30.7885 22.3319 29.4996 22.3342 28.1284C22.3342 27.6031 22.4252 27.0821 22.6025 26.5822C22.8942 25.751 22.3855 24.8608 21.4639 24.595C20.5375 24.3334 19.5575 24.7891 19.2659 25.6223C18.9812 26.4345 18.8342 27.2741 18.8342 28.1263C18.8295 30.337 19.7815 32.4233 21.5129 33.9949C23.2442 35.5664 25.5449 36.4334 27.9925 36.4356H28.0019ZM41.9536 22.7053C41.7902 22.853 41.6036 22.9796 41.3936 23.064C41.1836 23.1483 40.9502 23.1715 40.7169 23.1715C40.2736 23.1715 39.8302 23.0218 39.4802 22.7053C39.1536 22.41 38.9669 22.0092 38.9669 21.5894C38.9669 21.3975 39.0136 21.1865 39.1069 20.9988C39.2002 20.8089 39.3402 20.6191 39.4802 20.4714C39.6436 20.3427 39.8536 20.2162 40.0636 20.1318C40.4836 19.9841 40.9736 19.9841 41.3936 20.1318C41.6036 20.2162 41.8136 20.3427 41.9536 20.4714C42.1169 20.6191 42.2569 20.8089 42.3502 20.9988C42.4436 21.1865 42.4902 21.3975 42.4902 21.5894C42.4902 22.0092 42.3036 22.41 41.9536 22.7053Z" fill="black"/>
            </svg>
          </div>
          <h3 class="how-works-block-title">Post on Instagram</h3>
          <p class="how-works-block-data">Take photos enjoying your OwlCrate box and post on Instagram. Don't forget to tag us in every post @owlcrate.</p>
        </div>
      </div>
      <div class="column-4">
        <div class="how-works-wrapper">
          <div class="icon-wrapper">
            <svg class="how-works-icon" width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M40.8284 46.2874C40.5414 46.2937 40.2568 46.2283 40.0071 46.0974L28.0184 40.3831L17.4624 45.5272C15.7404 46.3719 13.5844 45.7933 12.6511 44.2327C12.6394 44.2137 12.6278 44.1947 12.6161 44.1736C12.2498 43.5211 12.1214 42.7841 12.2474 42.0619L14.3008 31.0937L5.71877 23.2296C4.31644 21.9204 4.31644 19.8382 5.71877 18.5269C6.26477 18.0074 6.98811 17.6716 7.77211 17.5745L19.5391 15.9569L24.7728 6.0889C25.5871 4.484 27.6848 3.77869 29.4604 4.51568C30.2304 4.83455 30.8464 5.39415 31.1988 6.0889L36.4558 15.9907L48.2624 17.6273C49.2168 17.7561 50.0731 18.2333 50.6331 18.945C51.6784 20.3049 51.5198 22.1421 50.2551 23.3395L41.7128 31.1105L42.9028 37.0212C43.0684 37.9081 42.4221 38.7549 41.4444 38.9218C40.4831 39.078 39.5638 38.4994 39.3911 37.6273L38.1801 31.7166C37.9771 30.6333 38.3574 29.5268 39.2068 28.7433L47.7701 20.9173L35.9634 19.2596C34.7664 19.0844 33.7514 18.3664 33.2731 17.3591L28.0184 7.49952L22.6984 17.5154C22.2201 18.5248 21.2051 19.2406 20.0081 19.4159L8.24111 21.0335L16.7414 28.8468C17.5884 29.6176 17.9688 30.7093 17.7681 31.78L15.7148 42.7482L26.2684 37.6252C27.3138 37.093 28.5901 37.093 29.6354 37.6252L41.6078 43.3395C42.3381 43.7006 42.7091 44.4629 42.5108 45.1957C42.3288 45.9284 41.6148 46.45 40.7864 46.4627L40.8284 46.2874Z" fill="black"/>
            </svg>
          </div>
          <h3 class="how-works-block-title">Get Rewarded</h3>
          <p class="how-works-block-data">Get rewarded at the end of the month with a surprise gift!</p>
        </div>
      </div> -->
    </div>
    
  </div>
</section>
{% schema %}
  {
    "name": "How Works",
    "max_blocks": 3,
    "settings": [
      {
        "type": "image_picker",
        "id": "work_image",
        "label": "Work Image"
      },
	  {
		"type": "text",
		"id": "section_heading",
		"label": "Heading",
		"default": "HOW IT WORKS"
	  }
	],
	"blocks": [
      {
        "type": "text",
        "name": "Earn Reward",
        "settings": [
          {
            "id": "work_icon",
            "type": "html",
            "label": "Work Icon"
          },
          {
            "id": "work_title",
            "type": "text",
            "label": "Work Title",
			"default": "Sign Up"
          },
          {
            "id": "work_details",
            "type": "text",
            "label": "Work Details",
			"default": "Sign up with your email and Instagram username on this page!"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
