{%- if section.settings.enabled -%}

<section data-section-id="{{ section.id }}" class="header-slider {% if section.settings.is_hidden_on_mobile %}d-none d-sm-block{% endif %}">
  <div class="carousel {{section.settings.height}}" role="tree"
          data-header-slider
          data-flickity='{
            "contain": true,
            "wrapAround": true,
            "accessibility": true,
            "dragThreshold": 20,
            "groupCells": "100%",
            "lazyLoad": false,
            "prevNextButtons": {{section.settings.nav_arrows}},
            "pageDots": {{section.settings.nav_dots}},
            {% if section.settings.auto_play > 0 %}"autoPlay": {{section.settings.auto_play}}000,{% endif %}
            "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 65, "y2": 40, "x3": 25}
          }'>
    {%- for block in section.blocks -%}
      {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
      <div class="carousel-cell cell-h d-md-flex align-items-center justify-content-center w-100"
            v-match-heights="{el: ['.cell-h']}"
            role="treeitem" {{ block.shopify_attributes }}
            data-block-id="{{ block.id }}" style="background-color: {{ block.settings.background_color }};">
        <div class="container"> 

          <div class="owlcrate-banner section-content py-lg-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md-7  mb-md-0 mb-5 pr-ex-lg-10 text-md-left text-center">
                  {% if block.settings.heading != '' %}
                  <h1 class="h2 mb-3 text-capitalize font-weight-bold">{{ block.settings.heading | escape }}</h1>
                  {% endif %}
                  {% if block.settings.caption != '' %}
                  <h6 class="mb-5 text-initial font-size-lg font-weight-normal letter-spacing-normal">{{ block.settings.caption | escape }}</h6>
                  {% endif %}
                  <div class="mr-auto for-button-width">
                    <div class="d-lg-flex align-items-center btn-wrap">
                      {% assign isJrSoldout = false %}
                      {% assign isAdultSoldout = false %}
                      {% if block.settings.select_product != '' and settings.adult_soldout and block.settings.select_product == 'plan_adult' %}
                        {% assign isAdultSoldout = true %}
                      {% endif %}
                      {% if block.settings.select_product1 != '' and settings.jr_soldout and block.settings.select_product1 == 'plan_jr' %}
                        {% assign isJrSoldout = true %}
                      {% endif %}

                      <template v-if="isUtmAdult">
                        {% if block.settings.btn_txt != '' %}
                          <a {%if block.settings.page_link %} href="{{block.settings.page_link}}"{%else%}href="#" @click.prevent="_chooseProductOnPage('{{block.settings.select_product}}', 2, 'type-normal')"{% endif %} class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-lg-3 mb-lg-0 mb-3">{{ block.settings.btn_txt }}</a>
                        {% endif %}
                      </template>
                      <template v-else>
                        {% if block.settings.btn_txt != '' %}
                          <a {%if block.settings.page_link %} href="{{block.settings.page_link}}"{%else%}href="#" {% if isAdultSoldout %} @click.prevent="_soldoutProduct('{{block.settings.select_product}}', 'type-normal')" {% else %} @click.prevent="_chooseProductOnPage('{{block.settings.select_product}}', 2, 'type-normal')" {% endif %}{% endif %} class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-lg-3 mb-lg-0 mb-3">{% if isAdultSoldout %}JOIN OWLCRATE WAIT LIST{% else %}{{ block.settings.btn_txt }}{% endif %}</a>
                        {% endif %}
                      </template>

                      <template v-if="isUtmJr">
                        {% if block.settings.btn_txt_second != '' %}
                        <a {%if block.settings.page_link1 %}href="{{ block.settings.page_link1}}" {% else %} href="#" @click.prevent="_chooseProductOnPage('{{block.settings.select_product1}}', 2, 'type-normal')"{% endif %} class="btn btn{% if block.settings.btn_type_second == 'outline' %}-{% endif %}{{ block.settings.btn_type_second }}-{{ block.settings.btn_variant_second }} {{ block.settings.btn_size_second }} test-jr-1">{{ block.settings.btn_txt_second }}</a>
                        {% endif %}
                      </template>
                      <template v-else>
                        {% if block.settings.btn_txt_second != '' %}
                        <a data-link="{{block.settings.btn_txt_second}}" {%if block.settings.page_link1 %}href="{{ block.settings.page_link1}}" {% else %} href="#" {% if isJrSoldout %} @click.prevent="_soldoutProduct('{{block.settings.select_product1}}', 'type-normal')" {% else %} @click.prevent="_chooseProductOnPage('{{block.settings.select_product1}}', 2, 'type-normal')" {% endif %}{% endif %} class="btn btn{% if block.settings.btn_type_second == 'outline' %}-{% endif %}{{ block.settings.btn_type_second }}-{{ block.settings.btn_variant_second }} {{ block.settings.btn_size_second }} test-jr-2">{% if isJrSoldout %}JOIN OWLCRATE JR WAIT LIST{% else %}{{ block.settings.btn_txt_second }}{% endif %}</a>
                        {% endif %}
                      </template>

                    </div>
                    {% if block.settings.footer_link_txt != '' and block.settings.footer_link != blank %}
                    <a href="{{ block.settings.footer_link }}" class="mt-md-4 compare-link mt-3 border-bottom d-inline-block border-gray-900">{{block.settings.footer_link_txt}}</a>
                    {% endif %}
                  </div>
                <div class="banner-text-caption-home-page d-md-block d-none">
                    {% if block.settings.banner_text_checkbox %}
                        <p class="text-light-blue font-barlow mb-0 pt-md-4" style="font-size:{{ block.settings.banner_test_font_size}}px ">{{ block.settings.banner_text }} </p>
                    {% endif %}
                  </div>
                
                </div>
                <div class="col-md-5">
                    {%- if block.settings.owlcrate_bg_image != blank -%}
                      <img src="{{ block.settings.owlcrate_bg_image | img_url: 'pico' }}" 
                      data-srcset="
                      {{ block.settings.owlcrate_bg_image | img_url: '350x350' }} 576w,
                      {{ block.settings.owlcrate_bg_image | img_url: '540x520' }} 1200w
                      " class="w-100 lazyload" alt="{{block.settings.heading}}" />
                    {%- endif -%}
                </div>
            </div>
          </div>
          
        </div>
        <div class="banner-text-caption text-center d-md-none d-block">
            {% if block.settings.banner_text_checkbox %}
              <p class="text-light-blue mb-0 px-4 pb-4" style="font-size:{{ block.settings.banner_test_font_size }}px ">{{ block.settings.banner_text }} </p>
            {% endif %}
        </div>
      </div>

    {%- endfor -%}
  </div>
</section>
{%- endif -%}


{% schema %}
  {
    "name": "Header Slider",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_hidden_on_mobile",
        "label": "Hidden on Mobile?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "nav_arrows",
        "label": "Arrows Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "nav_dots",
        "label": "Dots Navigation",
        "default": true
      },
      {
        "type": "select",
        "id": "height",
        "label": "Slider Height",
        "options": [{
            "value": "shortheight",
            "label": "Short"
          },
          {
            "value": "tallheight",
            "label": "Tall"
          },
          {
            "value": "fullheight",
            "label": "Full Height"
          }
        ],
        "default": "tallheight"
      },
      {
        "type": "range",
        "id": "auto_play",
        "label": "Slider Autoplay",
        "info": "Duration of animation between slides (in seconds). Select the value of 0 if you don't want the slider to autoplay.",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }
    ],
    "blocks": [
    {
      "type": "owlcrate",
      "name": "Owlcrate",
      "settings": [
        {
          "type": "header",
          "content": "Select GIF"
        },
        {
          "type": "image_picker",
          "id": "owlcrate_bg_image",
          "label": "Select GIF"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-left"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#f4f4f4"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "text",
          "id": "select_product",
          "label": "Select Product Tag",
          "default": "plan_adult",
          "info": "Use 'plan_adult or plan_jr' for product."
        },
        {
          "type": "url",
          "id": "page_link",
          "label": "Page link"
        },
        {
          "type": "text",
          "id": "select_product1",
          "label": "Select Product Tag",
          "default": "plan_jr",
          "info": "Use 'plan_adult or plan_jr' for product."
        },
        {
          "type": "url",
          "id": "page_link1",
          "label": "Page link"
        },
        {
          "type": "checkbox",
          "id": "banner_text_checkbox",
          "label": "Enabled Overlay ?",
          "default": true
        },
        {
          "type": "text",
          "id":   "banner_text",
          "label":"Overlay Text"
        },
        {
          "type": "range",
          "id":   "banner_test_font_size",
          "min":  15,
          "max":  30,
          "step": 1,
          "unit": "px",
          "label": "Overlay Font Size",
          "default": 15
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "purple",
              "label": "Purple"
            }
          ],
          "default": "purple"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "btn_txt_second",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "btn_type_second",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant_second",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "purple",
              "label": "Purple"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size_second",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "footer_link_txt",
          "label": "Footer Link Text",
          "default": "Compare Boxes"
        },
        {
          "type": "url",
          "id": "footer_link",
          "label": "Footer Link"
        }
      ]
    }
    ],
    "default": {
      "settings": {},
      "blocks": [{
          "type": "owlcrate"
        }
      ]
    }
  }
{% endschema %}
