{%- assign main_menu = section.settings.main_menu_linklist  -%}
{%- assign secondary_menu = section.settings.secondary_menu_linklist  -%}
{%- assign megamenu = section.settings.mega_menu | handleize -%}

{%- assign owlcrateJr = false -%}
{%- if template.suffix == 'owlcrate-jr' or blog.handle == 'owlcratejr' -%}
  {%- assign owlcrateJr = true -%}
{%- endif -%}

<div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" :class="{'opened shadow-lg': isMobileNavDrawerOpen}" v-touch:swipe.left="_toggleMobileNavDrawer">
  {% comment %}
  <div class="drawer-header d-flex justify-content-between align-items-center px-4 py-2">

    {%- if section.settings.mobile_nav_show_logo -%}
      {%- if owlcrateJr -%}
        <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
          {%- assign logo_jr = section.settings.main_logo_jr | img_url: '200x' -%}
          {%- if logo contains 'no-image' -%}
              <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
          {%- else -%}
            <img src="{{ logo_jr }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
          {%- endif -%}
        </a>
      {%- else -%}
        {%- if page.handle == 'subscription-plan' -%}
          <template v-if="subscriptionFlow.addonType == 'box_junior'">
            <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
              {%- assign logo_jr = section.settings.main_logo_jr | img_url: '200x' -%}
              {%- if logo contains 'no-image' -%}
                  <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
              {%- else -%}
                <img src="{{ logo_jr }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
              {%- endif -%}
            </a>
          </template>
          <template v-else>
            <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
              {%- assign logo = section.settings.main_logo | img_url: '200x' -%}
              {%- if logo contains 'no-image' -%}
                  <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
              {%- else -%}
                <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
              {%- endif -%}
            </a>
          </template>
        {%- else -%}
          <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
            {%- assign logo = section.settings.main_logo | img_url: '200x' -%}
            {%- if logo contains 'no-image' -%}
                <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
            {%- else -%}
              <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
            {%- endif -%}
          </a>
        {%- endif -%}
      {%- endif -%}
    {%- endif %}

    <a href="#" class="btn-close ml-auto float-right" @click.prevent="_toggleMobileNavDrawer" name="close" title="close" rel="nofollow" aria-label="Close">
      <i class="icon ion-md-close"></i>
    </a>
  </div>


    {% if settings.enable_currency_selector %}
      <div class="drawer-header px-4 pt-3">
      {% form 'currency', id: 'currencyFormMobile', data-currency-selector: "" %}
        <div class="form-group">
          <select name="currency" id="currencySelector" aria-label="currency-selector" class="form-control form-control-sm" @change="_changeCurrency()">
            {% for currency in shop.enabled_currencies %}
              {% if currency == cart.currency %}
                <option selected="true">{{currency.iso_code}}</option>
                {% else %}
                <option>{{currency.iso_code}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      {% endform %}
      </div>
    {% endif %}
  {% endcomment %}

  <div class="drawer-body pt-1" data-touch-moveable>
    {%- if main_menu -%}
      <nav class="navbar-mobile">
        <ul class="navbar-nav">
          {%- for link in linklists[main_menu].links -%}
            {%- assign child_list_handle = link.title | handleize -%}
            {%- if menus[child_list_handle].links != blank -%}
              <li class="nav-item ">
                <a class="nav-link submenu-toggle d-flex align-items-center justify-content-between {{ link.handle }}" href="#" role="button" data-toggle="collapse" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                  <span>{{ link.title }}</span> <i class="icon-toggle"></i>
                </a>
                <div class="submenu collapse" id="submenu-{{ child_list_handle }}">
                  <ul class="list-unstyled">
                    {%- for childlink in menus[child_list_handle].links -%}
                      {%- assign third_list_handle = childlink.title | handleize -%}
                      {%- if menus[third_list_handle].links != blank -%}
                        <li>
                          <a class="nav-link submenu-toggle d-flex align-items-center justify-content-between childlink-link {{ childlink.handle }}" href="#" role="button" data-toggle="collapse" data-target="#submenu-{{ third_list_handle }}" aria-expanded="false" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                            <span> {{ childlink.title }}</span> <i class="icon-toggle"></i>
                          </a>
                          <div class="submenu collapse" id="submenu-{{ third_list_handle }}">
                            <ul class="list-unstyled">
                              {%- for thirdlink in menus[third_list_handle].links -%}
                                <li>
                                  <a class="nav-link {{ thirdlink.handle }}" href="{{ thirdlink.url }}" name="{{ thirdlink.title }}" title="{{ thirdlink.title }}" aria-label="{{ thirdlink.title }}">
                                    {{- thirdlink.title -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </li>
                      {%- else -%}
                        {%- if megamenu == child_list_handle -%}
                          {%- for block in section.blocks -%}
                            {%- assign product_block = pages[block.settings.btn_link] -%}
                            <li>
                              <a class="nav-link {{ product_block.handle }}" href="{{ product_block.url }}" name="{{ product_block.title }}" title="{{ product_block.title }}" aria-label="{{ product_block.title }}">
                                {{- product_block.title -}}
                              </a>
                            </li>
                          {%- endfor -%}
                        {%- endif -%}
                        <li>
                          <a class="nav-link {{ childlink.handle }}" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                            {{- childlink.title -}}
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </div>
              </li>
            {%- else -%}
              <li class="nav-item ">
                <a class="nav-link" href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}" {% if link.title == 'FAQs' %}rel="noopener noreferrer" target="_blank"{% endif %}>
                  {{- link.title -}}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}

          {%- if section.settings.contact_menu != '' -%}
            <li class="nav-item ">
              <a class="nav-link " href="{{ section.settings.contact_link }}" name="{{ section.settings.contact_menu }}" title="{{ section.settings.contact_menu }}" aria-label="{{ section.settings.contact_menu }}">
                {{- section.settings.contact_menu -}}
              </a>
            </li>
          {%- endif -%}
          {%- if shop.customer_accounts_enabled -%}
            <li class="nav-item ">
              <a href="/account" name="account" title="account" rel="nofollow" class="nav-link ">{% if customer %}My Account{% else %}Log In{% endif %}</a>
            </li>
          {%- endif -%}
        </ul>
      </nav>
    {%- endif -%}

    {%- if secondary_menu -%}
      <nav class="navbar-mobile navbar-mobile-secondary">
        <ul class="navbar-nav">
          {%- for link in linklists[secondary_menu].links -%}
            {%- assign child_list_handle = link.title | handleize -%}
            {%- if menus[child_list_handle].links != blank -%}
              <li class="nav-item ">
                <a class="nav-link submenu-toggle d-flex align-items-center justify-content-between" href="#" role="button" data-toggle="collapse" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                  <span>{{ link.title }}</span> <i class="icon-toggle"></i>
                </a>
                <div class="submenu collapse" id="submenu-{{ child_list_handle }}">
                  {%- for childlink in menus[child_list_handle].links -%}
                    <a class="nav-link " href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                      {{- childlink.title -}}
                    </a>
                  {%- endfor -%}
                </div>
              </li>
            {%- else -%}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                  {{- link.title -}}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
          {% comment %} {% if settings.enable_wishlist %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1" name="{{ 'general.wishlist.title' | t }}" title="{{ 'general.wishlist.title' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.title' | t }}">
                <span>
                  {{ 'general.wishlist.title' | t }}
                  <span v-if="wishlist.length > 0" v-text="'('+wishlist.length+')'"></span>
                </span>
              </a>
            </li>
          {% endif %} {% endcomment %}
        </ul>
      </nav>
    {%- endif -%}
  </div>

  <div class="hero-banner__buttons">
    {% assign isJrSoldout = false %}
    {% assign isAdultSoldout = false %}
    {% if section.settings.select_product != '' and settings.adult_soldout and section.settings.select_product == 'plan_adult' %}
      {% assign isAdultSoldout = true %}
    {% endif %}
    {% if section.settings.select_product1 != '' and settings.jr_soldout and section.settings.select_product1 == 'plan_jr' %}
      {% assign isJrSoldout = true %}
    {% endif %}

    <template v-if="isUtmAdult">
      {% if section.settings.btn_txt != '' %}
        <a {% if section.settings.page_link %} href="{{section.settings.page_link}}"{% else %}href="#" @click.prevent="_chooseProductOnPage('{{section.settings.select_product}}', 2, 'type-normal')"{% endif %} class="hero-banner__btn hero-banner__btn--{{ section.settings.btn_type }}">
                            <span class="hero-banner__btnIcon">
                                {%- render 'icon-owl-black' -%}
                            </span>
          {{ section.settings.btn_txt }}
        </a>
      {% endif %}
    </template>
    <template v-else>
      {% if section.settings.btn_txt != '' %}
        <a {% if section.settings.page_link %} href="{{section.settings.page_link}}"{% else %}href="#" {% if isAdultSoldout %} @click.prevent="_soldoutProduct('{{section.settings.select_product}}', 'type-normal')" {% else %} @click.prevent="_chooseProductOnPage('{{section.settings.select_product}}', 2, 'type-normal')" {% endif %}{% endif %} class="hero-banner__btn hero-banner__btn--{{ section.settings.btn_type }}">
          {% if isAdultSoldout %}
            JOIN OWLCRATE WAIT LIST
          {% else %}
            <span class="hero-banner__btnIcon">
                                    {%- render 'icon-owl-black' -%}
                                </span>
            {{ section.settings.btn_txt }}
          {% endif %}
        </a>
      {% endif %}
    </template>

    <template v-if="isUtmJr">
      {% if section.settings.btn_txt_second != '' %}
        <a {% if section.settings.page_link1 %}href="{{ section.settings.page_link1}}" {% else %} href="#" @click.prevent="_chooseProductOnPage('{{section.settings.select_product1}}', 2, 'type-normal')"{% endif %} class="hero-banner__btn hero-banner__btn--{{ section.settings.btn_type_second }} test-jr-1">
                            <span class="hero-banner__btnIcon">
                                {%- render 'icon-owl-green' -%}
                            </span>
          {{ section.settings.btn_txt_second }}
        </a>
      {% endif %}
    </template>
    <template v-else>
      {% if section.settings.btn_txt_second != '' %}
        <a data-link="{{section.settings.btn_txt_second}}" {% if section.settings.page_link1 %}href="{{ section.settings.page_link1}}" {% else %} href="#" {% if isJrSoldout %} @click.prevent="_soldoutProduct('{{section.settings.select_product1}}', 'type-normal')" {% else %} @click.prevent="_chooseProductOnPage('{{section.settings.select_product1}}', 2, 'type-normal')" {% endif %}{% endif %} class="hero-banner__btn hero-banner__btn--{{ section.settings.btn_type_second }} test-jr-2">
          {% if isJrSoldout %}
            JOIN OWLCRATE JR WAIT LIST
          {% else %}
            <span class="hero-banner__btnIcon">
                                    {%- render 'icon-owl-green' -%}
                                </span>
            {{ section.settings.btn_txt_second }}
          {% endif %}
        </a>
      {% endif %}
    </template>
  </div>

  {%- if section.settings.mobile_nav_show_social_links -%}
    <div class="drawer-footer text-center mt-auto px-4 py-0">
      {% if section.settings.col_3_heading != '' %}
        <h6 class="small mb-3">{{ section.settings.col_3_social_heading }}</h6>
      {% endif %}

      <ul class="list-unstyled list-inline social-icons">
        {% if section.settings.social_icon_facebook %}
          <li class="list-inline-item">
            <a href="{{ settings.social_facebook_link }}" name="Facebook" title="Facebook" rel="nofollow" aria-label="Facebook"><i class="icon ion-logo-facebook"></i></a>
          </li>
        {% endif %}

        {% if section.settings.social_icon_twitter %}
          <li class="list-inline-item">
            <a href="{{ settings.social_twitter_link }}" name="Twitter" title="Twitter" rel="nofollow" aria-label="Twitter"><i class="icon ion-logo-twitter"></i></a>
          </li>
        {% endif %}

        {% if section.settings.social_icon_googleplus %}
          <li class="list-inline-item">
            <a href="{{ settings.social_googleplus_link }}" name="Google+" title="Google+" rel="nofollow" aria-label="Google+"><i class="icon ion-logo-googleplus"></i></a>
          </li>
        {% endif %}

        {% if section.settings.social_icon_instagram %}
          <li class="list-inline-item">
            <a href="{{ settings.social_instagram_link }}" name="Instagram" title="Instagram" rel="nofollow" aria-label="Instagram"><i class="icon ion-logo-instagram"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  {%- endif -%}

</div>


{% schema %}
{
  "name": "Mobile Navigation",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "checkbox",
      "id": "mobile_nav_show_logo",
      "label": "Show Logo?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "main_logo",
      "label": "Select Image"
    },
    {
      "type": "image_picker",
      "id": "main_logo_jr",
      "label": "Select Image In JR"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 5,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 180
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_menu_linklist",
      "label": "Select Main Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu_linklist",
      "label": "Select Secondary Menu"
    },
    {
      "type": "text",
      "id": "mega_menu",
      "label": "Mega menu title"
    },
    {
      "type": "header",
      "content": "Contact Menu"
    },
    {
      "type": "text",
      "id": "contact_menu",
      "label": "Menu Text"
    },
    {
      "type": "url",
      "id": "contact_link",
      "label": "Menu Link"
    },
    {
      "type": "header",
      "content": "Social Networks"
    },
    {
      "type": "checkbox",
      "id": "mobile_nav_show_social_links",
      "label": "Show Socials?",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Select Networks"
    },
    {
      "type": "checkbox",
      "id": "social_icon_facebook",
      "label": "Facebook",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_twitter",
      "label": "Twitter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_googleplus",
      "label": "Google+",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "social_icon_instagram",
      "label": "Instagram",
      "default": true
    },
    {
      "type": "text",
      "id": "select_product",
      "label": "Select Product Tag",
      "default": "plan_adult",
      "info": "Use 'plan_adult or plan_jr' for product."
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [{
        "value": "white",
        "label": "White"
      },
        {
          "value": "green",
          "label": "Green"
        }
      ],
      "default": "white"
    },
    {
      "type": "url",
      "id": "page_link",
      "label": "Page link"
    },
    {
      "type": "text",
      "id": "btn_txt_second",
      "label": "Button Text"
    },
    {
      "type": "select",
      "id": "btn_type_second",
      "label": "Button Type",
      "options": [{
        "value": "white",
        "label": "White"
      },
        {
          "value": "green",
          "label": "Green"
        }
      ],
      "default": "white"
    },
    {
      "type": "text",
      "id": "select_product1",
      "label": "Select Product Tag",
      "default": "plan_jr",
      "info": "Use 'plan_adult or plan_jr' for product."
    },
    {
      "type": "url",
      "id": "page_link1",
      "label": "Page link"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Megamenu Subscribe",
      "settings": [
        {
          "type": "page",
          "id": "btn_link",
          "label": "Page Link"
        }
      ]
    }
  ]
}
{% endschema %}


{% javascript %}
{% endjavascript %}
