<section data-section-id="{{ section.id }}" data-template="box-subscription">
  {% for block in section.blocks %}
    {% if block.type == 'page_banner' %}
      {% if block.settings.page_banner %}
        <div class="page-banner text-center text-md-left">
          <img
                  data-sizes="auto"
                  src="{{ block.settings.image | img_url: 'small'}}"
                  data-srcset="
                        {{ block.settings.image | img_url: '1440x' }} 992w,
                        {{ block.settings.image | img_url: '1200x' }} 1200w
                        "
                  class="lazyload h-100 d-none d-md-block banner-img" alt="{{ product.title | escape }}" />
          {% if block.settings.mobile_image == blank %}
            <img
                    data-sizes="auto"
                    src="{{ block.settings.image | img_url: 'small'}}"
                    data-srcset="
                        {{ block.settings.image | img_url: '576x' }} 576w,
                        {{ block.settings.image | img_url: '768x' }} 768w
                        "
                    class="lazyload h-100 d-block d-md-none banner-img" alt="{{ product.title | escape }}" />
          {% else %}
            <img
                    data-sizes="auto"
                    src="{{ block.settings.mobile_image | img_url: 'small'}}"
                    data-srcset="
                            {{ block.settings.mobile_image | img_url: '576x' }} 576w,
                            {{ block.settings.mobile_image | img_url: '768x' }} 768w
                            "
                    class="lazyload h-100 d-md-none banner-img" alt="{{ product.title | escape }}" />
          {% endif %}
          <div class="cation py-3 py-md-0">
            <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
              <div class="row no-gutters align-items-center">
                <div class="col-md-6  mb-md-0 mb-5 pr-ex-lg-10 text-md-left text-center">
                  {% if block.settings.title != '' %}<h1 class="text-white mb-0">{{ block.settings.title }}</h1>{% endif %}
                  {% if block.settings.caption != blank %}<p class="lead text-white mb-3 mb-md-4">{{ block.settings.caption }}</p>{% endif %}
                  {% if block.settings.heading_box != blank or block.settings.link_text %}
                    <div class="d-md-flex align-items-center mb-4 mb-md-5">
                      {% if block.settings.image_box  %}<img
                        data-sizes="auto"
                        src="{{ block.settings.image_box | img_url: 'small'}}"
                        data-srcset="
                                            {{ block.settings.image_box | img_url: '450x' }} 576w,
                                            {{ block.settings.image_box | img_url: '400x' }} 992w,
                                            {{ block.settings.image_box | img_url: '450x' }} 1200w
                                            "
                        class="lazyload sub-box-img-shadow mb-3 mb-md-0 mr-md-5 box-img" alt="{{ block.settings.heading_box | escape }}" />{% endif %}
                      <div class="box-text">
                        <h6 class="font-size-sm text-white mb-1">{{ block.settings.heading_box }}</h6>
                        <h5 class="text-white ls-base mb-0">{{ block.settings.caption_box | escape }}</h5>
                        {%- if block.settings.link_text != blank and block.settings.theme_link != blank and block.settings.enabled == true -%}
                          <a href="{{block.settings.theme_link}}" class="theme-link font-barlow mb-0 pt-md-4" style="color: {{block.settings.link_color | default: '#fff' }} !important;">
                            {{ block.settings.link_text }}</a>
                        {%- endif -%}
                      </div>
                    </div>
                  {% endif %}
                  {% if block.settings.enable_timer and block.settings.choose_date != blank %}
                    {% assign now =  "now" | date: "%s" %}
                    {% assign choose_date = block.settings.choose_date | date: "%s" %}
                    {% if choose_date > now %}
                      <h6 class="font-sie-sm text-white mb-3"><img src="https://cdn.shopify.com/s/files/1/1091/8372/files/clock-icon.svg?38760" alt="clock Icon" class="mr-3" style="Width:1.8125rem;">{{ block.settings.sale_text | escape }}</h6>
                      <div class="mb-5 mb-md-6">
                        <template>
                          <Countdown end="{{block.settings.choose_date}}"></Countdown>
                        </template>
                      </div>
                    {% endif %}
                  {% endif %}
                  <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <template v-if="isUtmAdult">
                      {% if block.settings.btn_txt != '' %}
                        <a href="/pages/subscription-plan"  class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-3 mr-lg-4">{{ block.settings.btn_txt }}</a>
                      {% endif %}
                      {% if block.settings.btn_txt_second != '' %}
                        <a href="#" @click.prevent="_chooseGiftProductOnPage('type-gift')" class="btn btn{% if block.settings.btn_type_second == 'outline' %}-{% endif %}{{ block.settings.btn_type_second }}-{{ block.settings.btn_variant_second }} {{ block.settings.btn_size_second }}">{{ block.settings.btn_txt_second }}</a>
                      {% endif %}
                    </template>
                    <template v-else>
                      {% if settings.adult_soldout %}
                        <a href="#" @click.prevent="_soldoutProduct('plan_adult', 'type-normal')" class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-3 mr-lg-4">{{ settings.modal_adult_btn_txt }}</a>
                      {% else %}
                        {% if block.settings.btn_txt != '' %}
                          <a href="/pages/subscription-plan"  class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-3 mr-lg-4">{{ block.settings.btn_txt }}</a>
                        {% endif %}
                        {% if block.settings.btn_txt_second != '' %}
                          <a href="#" @click.prevent="_chooseGiftProductOnPage('type-gift')" class="btn btn{% if block.settings.btn_type_second == 'outline' %}-{% endif %}{{ block.settings.btn_type_second }}-{{ block.settings.btn_variant_second }} {{ block.settings.btn_size_second }}">{{ block.settings.btn_txt_second }}</a>
                        {% endif %}
                      {% endif %}
                    </template>
                  </div>
                  <div class="banner-text-caption-home-page d-md-block d-none">
                    {% if block.settings.banner_text_checkbox %}
                      <p class="text-white font-barlow mb-0 pt-md-4" style="font-size:{{ block.settings.banner_test_font_size}}px ">{{ block.settings.banner_text }} </p>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-5 d-md-none ml-auto"><img src="{{block.settings.product_image | img_url: 'pico'}}" data-src="{{block.settings.product_image | img_url: 'large'}}" alt="Your Favorite Monthly Book Subscription Box!" class="w-100 lazyload"></div>
              </div>
            </div>
          </div>
          <div class="banner-text-caption text-center d-md-none d-block  position-relative">
            {% if block.settings.banner_text_checkbox %}
              <p class="text-white mb-0 px-4 pb-4" style="font-size:{{ block.settings.banner_test_font_size }}px ">{{ block.settings.banner_text }} </p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if section.settings.enable_featuredsection %}
    <div class="index-features-grid section-content mt-4 mt-md-7">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.feature_heading != blank %}
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title mb-3 mb-md-5">{{ section.settings.feature_heading }}</h2>
            </div>
          </div>
        {% endif %}
        <div class="row">
          {% for block in section.blocks %}
            {% if block.type == 'feature' %}
              {% if block.settings.feature_block %}
                <div class="{% unless section.settings.grid_size == '12' %}col-sm-12{% endunless %} col-md-{{ section.settings.grid_size }}">
                  <div class="feature my-3">
                    <div class="card-img text-center d-flex justify-content-center align-items-end mb-3 mb-md-4">
                      {% if block.settings.icon_class != blank %}
                        <img src="{{block.settings.icon_class}}" alt="{{ block.settings.heading_feature | escape }}" class="mh-100 mw-10" />
                      {% elsif block.settings.image_feature != blank %}
                        <img src="{{block.settings.image_feature | img_url :'165x' }}" alt="{{ block.settings.heading_feature | escape }}" class="mh-100 mw-10" />
                      {% endif %}
                    </div>
                    <div class="text-center px-lg-3">
                      {% if block.settings.heading_feature != blank %}<h5 class="mb-1 mb-md-2">{{ block.settings.heading_feature }}</h5>{% endif %}
                      {% if block.settings.txt != blank %}<div class="feature-details">{{ block.settings.txt }}</div>{% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.settings.enable_newsletter %}
    <div class="owlcrate-jr-newsletter section-content">
      <div class="container">
        <div class="" style="background-color: #f5f5f5;">
          <div class="row align-items-center">
            <div class="col-ex-lg-11 mx-auto">
              <div class=" jr-newsletter py-md-5 py-6" style="background-image: url('https://cdn.shopify.com/s/files/1/1091/8372/files/OwlcrateJr_Product_Update_Owlcrate.png?v=1597125921');">
                <div class="row">
                  <div class="col-lg-10">
                    <div class="d-md-flex align-items-center justify-content-lg-start justify-content-between text-md-left text-center px-md-3 px-2 px-ex-lg-0 px-lg-3">
                      <div class="newsletter-content mr-lg-7 mr-md-5 mb-md-0 mb-5">
                        <h5 class="font-barlow font-weight-semi-bold mb-0 text-uppercase font-size-lg">Subscribe to the</h5>
                        <h4 class="text-capitalize mb-0 font-weight-bold">OwlCrate newsletter</h4>
                      </div>
                      <div class="newsletter-div">
                        <form data-klaviyo-form-jr id="klaviyo_form_jr" class="validate contact-form klaviyo_gdpr_embed_{{section.settings.klaviyo_jr}}"  action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
                          <input type="hidden" name="g" value="{{section.settings.klaviyo_jr}}" data-input-hidden>
                          <div>
                            <div class=" input-group input-group-sm">
                              <input type="email" value="" name="email" class="form-control font-base ls-base" id="k_id_email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" aria-label="email">
                              <div class="input-group-append"><input type="submit" value="SUBMIT" name="subscribe" class="btn btn-dark font-size-ex-sm px-lg-3 py-2"></div>
                            </div>
                            <div class="klaviyo_messages mt-3 text-center">
                              <div class="success_message text-success" style="display:none;" data-success_message></div>
                              <div class="error_message  text-danger" style="display:none;" data-error_message></div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.settings.enable_plan %}
    <div class="section-content index-owlCrate-plan">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row justify-content-center mb-4">
          <div class="col-12 col-md-7 text-center">
            {% if section.settings.plan_heading %}<h2 class="mb-1 section-title">{{section.settings.plan_heading}}</h2>{% endif %}
            {% if section.settings.plan_caption %}<p>{{section.settings.plan_caption}}</p>{% endif %}
          </div>
        </div>
        <div class="row justify-content-center" v-if="subscriptionFlow.subscriptionPlanJson.length > 0">
          <div class="col-12 col-lg-9">
            <div class="row align-items-end">
              <div class="col-md-4 mb-3 mb-md-0" v-for="variant in subscriptionFlow.subscriptionPlanJson"  v-if="variant.is_hidden != 'true'" >
                <div class="card shadow-none border-secondary plan-item">
                  <p v-if="variant.save > 0" class="bg-blurple-100 text-center py-1 mb-0 text-white ls-1 font-weight-semi-bold font-size-xs offer-text" v-text="'You Save '+ _formatMoney(variant.save)+'!'"></p>
                  <div class="card-body d-flex align-items-center d-md-block py-5">
                    <div class="d-md-none plan-mobile-img">
                      <div class="product-img">
                        <img test v-if="variant.featured_image != null" :src="_getSizedImageUrl(variant.featured_image, 'pico')"
                             :data-src="_getSizedImageUrl(variant.featured_image, '480x')"
                             class="img-fluid h-100 lazyload"
                             :alt="variant.title"/>
                        <img v-else-if="variant.title.includes('3')" src="{{'3-month-plan.jpg' | file_img_url: 'pico'}}" data-src="{{'3-month-plan.jpg' | file_img_url: '480x'}}" :alt="variant.title" class="img-fluid h-100 lazyload" />
                        <img v-else-if="variant.title.includes('6')" src="{{'6-month-plans.jpg' | file_img_url: 'pico'}}" data-src="{{'6-month-plans.jpg' | file_img_url: '480x'}}" :alt="variant.title" class="img-fluid h-100 lazyload" />
                        <img v-else src="{{'owl-pack.jpg' | file_img_url: 'pico'}}" data-src="{{'owl-pack.jpg' | file_img_url: '480x'}}" :alt="variant.title" class="img-fluid h-100 lazyload" />
                      </div>
                    </div>
                    <div class="plan-item-text text-left text-md-center">
                      <h6 class="mb-1" v-text="variant.title"></h6>
                      <h5 v-text="_formatMoney(variant.price)"></h5>
                      <div class="product-img mb-4 d-none d-md-block">
                        <img v-if="variant.featured_image != null" :src="_getSizedImageUrl(variant.featured_image, 'pico')"
                             :data-src="_getSizedImageUrl(variant.featured_image, '480x')"
                             class="img-fluid h-100 lazyload"
                             :alt="variant.title"/>
                        <img v-else-if="variant.title.includes('3')" src="{{'3-month-plan.jpg' | file_img_url: 'pico'}}" data-src="{{'3-month-plan.jpg' | file_img_url: '480x'}}" class="img-fluid h-100 lazyload" />
                        <img v-else-if="variant.title.includes('6')" src="{{'6-month-plans.jpg' | file_img_url: 'pico'}}" data-src="{{'6-month-plans.jpg' | file_img_url: '480x'}}" class="img-fluid h-100 lazyload" />
                        <img v-else src="{{'owl-pack.jpg' | file_img_url: 'pico'}}" data-src="{{'owl-pack.jpg' | file_img_url: '480x'}}" class="img-fluid h-100 lazyload" />
                      </div>
                      <p class="mb-0 card-total font-size-ex-sm" v-match-heights="{el: ['.card-total']}"><b>Total Price:</b> <br class="d-md-none" /> <span v-text="_formatMoney(variant.price) + ' + Shipping'"></span></p>
                      <template v-if="variant.metafields.charge_internal_frequency != null">
                        <p class="mb-0 font-size-ex-sm" v-if="variant.metafields.charge_internal_frequency == 1" >One-Time Box</p>
                        <p class="mb-0 font-size-ex-sm" v-else v-text="'One-Time '+variant.metafields.charge_internal_frequency+'-Month Subscription'"></p>
                      </template>
                      <template v-if="isUtmAdult">
                        <a href="#"  @click.prevent="_selectedPagePlan(variant)" class="btn btn-sm btn-dark mt-2 mt-md-3">Select</a>
                      </template>
                      <template v-else>
                        {% if settings.adult_soldout == false %}
                          <a href="#"  @click.prevent="_selectedPagePlan(variant)" class="btn btn-sm btn-dark mt-2 mt-md-3">Select</a>
                        {% endif %}
                      </template>
                    </div>
                  </div>
                </div>
              </div>
              {% if settings.adult_soldout %}
                <div class="col-12 text-center" v-show="isUtmAdult == false">
                  <a href="#" @click.prevent="_soldoutProduct('plan_adult', 'type-normal')"  class="btn btn-sm btn-dark mt-2 mt-md-3">{{ settings.modal_adult_btn_txt }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% for block in section.blocks %}
    {% if block.type == 'feature_owlcrate' %}
      {% if block.settings.feature_owlcrate %}
        <div class="section-content feature-owlcrate py-7 py-md-10 my-3 my-md-6" style="background-color: {{ block.settings.section_bg_color }};">
          <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            {% if block.settings.heading_owlcrate != blank %}
              <div class="row justify-content-center mb-3 mb-md-7">
                <div class="col-12 col-md-7 text-center">
                  <h2 class="mb-1 section-title">{{ block.settings.heading_owlcrate }}</h2>
                </div>
              </div>
            {% endif %}
            <div class="row align-items-center no-gutters justify-content-center">
              <div class="col-12 col-md-6 pr-md-4 mb-4 d-ex-lg-none">
                <div class="position-relative product-img owlcrate-images">
                  <img
                          data-sizes="auto"
                          src="{{ block.settings.image_owlcrate | img_url: 'small'}}"
                          data-srcset="
                                        {{ block.settings.image_owlcrate | img_url: '450x' }} 576w
                                        "
                          class="lazyload w-auto h-100" alt="{{ block.settings.heading_owlcrate | escape }}" />
                </div>
              </div>
              <div class="col-12 col-md-6 col-ex-lg-12">
                <div class="row no-gutters justify-content-center">
                  <div class="col-md-6 col-ex-lg-6 col-xl-5 order-ex-lg-2 mb-6 mb-ex-lg-0 d-none d-ex-lg-block">
                    <div class="position-relative product-img owlcrate-images">
                      <img
                              data-sizes="auto"
                              src="{{ block.settings.image_owlcrate | img_url: 'small'}}"
                              data-srcset="
                                                {{ block.settings.image_owlcrate | img_url: '450x' }} 992w
                                                "
                              class="lazyload w-auto h-100" alt="{{ block.settings.heading_owlcrate | escape }}" />
                    </div>
                  </div>
                  <div class="col-ex-lg-3 order-ex-lg-1">
                    {% if block.settings.features_item_fist != '' %}
                      <div class="features-item fist-item">
                        <p class="mb-0 lead">{{ block.settings.features_item_fist }}</p>
                        <span class="box-line"><span class="box-circle"></span></span>
                      </div>
                    {% endif %}
                    {% if block.settings.features_item_second != '' %}
                      <div class="features-item second-item">
                        <p class="mb-0 lead">{{ block.settings.features_item_second }}</p>
                        <span class="box-line"><span class="box-circle"></span></span>
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-ex-lg-3 order-ex-lg-3">
                    {% if block.settings.features_item_third != '' %}
                      <div class="features-item third-item pr-xl-4">
                        <p class="mb-0 lead">{{ block.settings.features_item_third }}</p>
                        <span class="box-line"><span class="box-circle"></span></span>
                      </div>
                    {% endif %}
                    {% if block.settings.features_item_four != '' %}
                      <div class="features-item four-item pr-xl-5">
                        <p class="mb-0 lead">{{ block.settings.features_item_four }}</p>
                        <span class="box-line"><span class="box-circle"></span></span>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% if block.settings.btn_txt != '' %}
              <div class="row justify-content-center align-items-center mt-3">
                <div class="col-12 text-center">
                  <template v-if="isUtmAdult">
                    <a href="/pages/subscription-plan" class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{ block.settings.btn_txt }}</a>
                  </template>
                  <template v-else>
                    <a {% if settings.adult_soldout %} href="#" @click.prevent="_soldoutProduct('plan_adult', 'type-normal')" {% else %} href="/pages/subscription-plan"{% endif %} class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{% if settings.adult_soldout %} {{ settings.modal_adult_btn_txt }} {% else %} {{ block.settings.btn_txt }}{% endif %}</a>
                  </template>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

  {%- if  section.settings.enable_faq -%}
    <div class="section-content gift-faq">
      <div class="{% if section.settings.fluid_layout_faq %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.faq_heading != '' %}
          <div class="text-center">
            <h2 class="mb-4">{{ section.settings.faq_heading }}</h2>
          </div>
        {% endif %}
        <div class="row justify-content-center">
          <div class="col-12 px-xl-7">
            <div class="accordion" id="faq">
              {% for block in section.blocks %}
                {% if block.type == 'faq' %}
                  {% if block.settings.faq_check and block.settings.heading != '' %}
                    <div class="border-top border-secondary faq-item">
                      <div class="py-3 px-4" id="heading{{ forloop.index }}">
                        <h6 class="m-0 text-capitalize ls-base">
                          <div class="d-flex align-items-center justify-content-between w-100 collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapseOne">
                            <span class="heading">{{ block.settings.heading }}</span>
                            <i class="ion ion-ios-remove h5 mb-0 ml-3"></i>
                          </div>
                        </h6>
                      </div>

                      {% if block.settings.txt != '' %}
                        <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#faq">
                          <div class="card-body px-4 pt-1 pb-5">
                            {{ block.settings.txt }}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {% if section.settings.enabled_yotpo_reviews %}
    {% include 'reviews-yotpo' %}
  {% endif %}


  {% if section.settings.enable_featuredyoutube %}
    <div class="section-content featured-youtube">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.feature_youtube_heading != blank %}
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title mb-1">{{ section.settings.feature_youtube_heading }}</h2>
            </div>
          </div>
        {% endif %}
        <div class="carousel row px-lg-5" role="tree"
             data-flickity='{
                    "contain": true,
                    "wrapAround": false,
                    "freeScroll": false,
                    "groupCells": "100%",
                    "dragThreshold": 20,
                    "lazyLoad": false,
                    "cellAlign": "center",
                    "prevNextButtons": true,
                    "pageDots": false,
                    "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 65, "y2": 40, "x3": 25}
                    }'>
          {% for block in section.blocks %}
            {% if block.type == 'feature_youtube' %}
              <div class="carousel-cell col-11 col-md-8 col-lg-6 my-5 px-lg-4" role="treeitem">
                <div class="bg-white shadow">
                  {% comment %} <video id="video-section-player_{{forloop.index}}" class="video-js vjs-default-skin vjs-big-play-centered vjs-fluid vjs-16-9"
                     controls
                     preload="auto"
                     poster="{{ block.settings.poster_image | img_url: '500x' }}"
                     data-setup='{
                     "techOrder": ["youtube"],
                     "sources": [
                         { "type": "video/youtube", "src": "https://www.youtube.com/watch?v={{ block.settings.video_url }}"}
                         ]
                     }'>
                 </video> {% endcomment %}
                  <video class="video-js vjs-default-skin"
                         data-setup='{
                                        "controls": false,
                                        "fluid": true,
                                        "children": ["MediaLoader"],
                                        "techOrder": ["youtube"],
                                        "sources": [{ "type": "video/youtube", "src": "{{ block.settings.video_url }}"}],
                                        "youtube": { "ytControls": 2 } }'>
                  </video>
                  <div class="d-md-flex text-center align-items-center justify-content-between p-3 p-md-4">
                    <div class="mb-3 mb-md-0 video-account-text">{{ block.settings.video_account }}</div>
                    {% if block.settings.video_platforms != blank %}
                      <p class="mb-0 font-barlow font-size-sm ls-1 font-weight-semi-bold text-uppercase d-flex align-items-center justify-content-center"><img src="https://cdn2.shopify.com/s/files/1/1091/8372/files/youtube-icon.png?30262" alt="youtube-icon" class="mr-2" />{{ block.settings.video_platforms }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.settings.enable_brand %}
    <div class="section-content index-brand-logo pt-4 mb-2">
      <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.feature_in != blank %}
          <div class="row">
            <div class="col-12 text-center">
              <h6 class="mb-3 mb-md-4">{{ section.settings.feature_in }}</h6>
            </div>
          </div>
        {% endif %}
        <div class="carousel row" role="tree" data-flickity='{
                    "contain": true,
                    "wrapAround": true,
                    "accessibility": true,
                    "setGallerySize": true,
                    "cellAlign": "center",
                    "groupCells": "100%",
                    "dragThreshold": 20,
                    "lazyLoad": true,
                    "prevNextButtons": false,
                    "pageDots": false,
                    "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 65, "y2": 40, "x3": 25}
                }'>
          {% for block in section.blocks %}
            {% if block.type == 'feature_logo' %}
              <div class="carousel-cell col-8 col-md-3 my-1 my-md-3" role="treeitem">
                <div class="company_logo">
                  <a href="{{ block.settings.logo_url }}" class="d-flex align-items-center justify-content-center" target="_blank" rel="noreferrer">
                    <img src="{{ block.settings.logo_image | img_url: 'pico' }}" data-src="{{ block.settings.logo_image | img_url: '300x60' }}" class="lazyload d-inline-block align-items-center mh-100 mw-100 w-auto" alt="logo" />
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- <div class="yotpo-gallery-section section-content" v-if="subscriptionFlow.subscriptionPlanJson.length > 0">
         <div class="container">
             <div
             class="yotpo yotpo-pictures-widget mt-5"
             data-gallery-id="5f8578f9e31670378bf2a6fd"
             :data-product-id="subscriptionFlow.subscriptionPlanJson[0].product_id">
             </div>
         </div>
     </div> -->

  <div class="section-content featured-youtube">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div
              class="yotpo yotpo-pictures-widget my-0"
              data-gallery-id="5eda7706e3fde51aedc6c1af">
      </div>
    </div>
  </div>

  {% for block in section.blocks %}
    {% if block.type == 'past_boxes' %}
      {% if block.settings.past_boxes %}
        <div class="section-content past-boxes-section">
          <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            {% if block.settings.heading != blank %}
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="section-title mb-0">{{ block.settings.heading }}</h2>
                </div>
              </div>
            {% endif %}
            {% assign blog = blogs[block.settings.blog] %}
            <div class="carousel row" data-past-box role="tree" data-flickity='{
                            "contain": true,
                            "wrapAround": true,
                            "accessibility": true,
                            "setGallerySize": true,
                            "cellAlign": "left",
                            "groupCells": "100%",
                            "lazyLoad": false,
                            "prevNextButtons": true,
                            "pageDots": false,
                            "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 65, "y2": 40, "x3": 25}
                        }'>

              {% for article in blog.articles %}
                <div class="carousel-cell d-flex equal-height col-12 col-sm-6 col-md-4 col-lg-3 py-5" role="treeitem">
                  {% assign producturl = '' %}
                  {% assign producturl_article =  '' %}
                  {% assign pastProd = '' %}
                  {% for tag in article.tags %}
                    {% if tag contains 'product_' %}
                      {% assign producturl = tag | split: '_' %}
                      {% assign producturl_article =  producturl[1] %}
                    {% endif %}
                  {% endfor %}
                  {% if producturl_article.size > 0 %}
                    {% assign pastProd = all_products[producturl_article] %}
                  {% endif %}
                  <div class="card shadow border-0 p-3">
                    <div class="card-img">
                      <a href="{% if pastProd.size > 0 %}{{pastProd.url}}{% else %}{{article.url}}{% endif %}" class="position-relative product-img">
                        <img
                                data-sizes="auto"
                                src="{{ article.image.src | img_url: 'pico'}}"
                                data-srcset="
                                                    {{ article.image.src | img_url: '800x500', crop: 'center' }} 576w
                                                    "
                                class="lazyload img-fluid h-100"
                                alt="{{ article.image.alt | escape }}"/>
                      </a>
                    </div>
                    <div class="card-body px-0 pb-2 text-center">
                      <p class="text-uppercase font-size-sm mb-1"><a href="{% if pastProd.size > 0 %}{{pastProd.url}}{% else %}{{article.url}}{% endif %}">{{ article.published_at | date: "%b %Y" }}: {{ article.title }}</a></p>
                      {{ article.excerpt }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="row mt-4">
              <div class="col-12 text-center">
                {% if block.settings.btn_txt != '' %}
                  <a href="{{ blog.url }}" class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-3">{{ block.settings.btn_txt }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% comment %}{%- if section.settings.enable_faq == true and block.type == 'faq' and block.settings.faq_check and block.settings.heading != ''-%}
        <div class="border-top border-secondary faq-item">
            <div class="py-3 px-4" id="heading{{ forloop.index }}">
                <h6 class="m-0 text-capitalize ls-base">
                    <div class="d-flex align-items-center justify-content-between w-100 collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapseOne">
                        <span class="heading">{{ block.settings.heading }}</span>
                        <i class="ion ion-ios-remove h5 mb-0"></i>
                    </div>
                </h6>
            </div>
            {% if block.settings.txt != '' %}
            <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#faq">
                <div class="card-body px-4 pt-1 pb-5">
                    {{ block.settings.txt }}
                </div>
            </div>
            {% endif %}
        </div>
    {%- endif -%}{% endcomment %}
  {% endfor %}

</section>

{% if section.blocks.size > 0 %}
  <p class="d-none" data-selectedPlanType="plan_adult"></p>
  {% for block in section.blocks %}
    {% if block.type == 'plan_product' %}
      {% assign subProd = all_products[block.settings.main_product] %}
      {% if subProd.title != blank %}
        {% unless subProd.variants[0].metafields.subscription.is_hidden == true  %}
          <script type="application/json" data-sub-json>
                    {
                        "variant": {{ subProd.variants[0] | json }},
                        "product": {
                            "product_id": {{subProd.id}},
                            "product_title": "{{subProd.title}}",
                            "product_price": {{subProd.metafields.c_f.original_price}},
                            "product_featured_image": "{{subProd.featured_image.src}}",
                            "product_type": "{% if subProd.tags contains 'plan_adult' %}plan_adult{% else %}plan_jr{% endif %}",
                            "addonType": "{% if subProd.tags contains 'plan_adult' %}box_adult{% else %}box_junior{% endif %}",
                            "product_tags": [{% if subProd.tags.size > 0 %}{% for tag in subProd.tags %}"{{tag}}"{% unless forloop.last%},{% endunless %}{% endfor %}{% endif %}]
                        },
                        "metafields": {
                            "subscription_id": {{ subProd.metafields.subscriptions.subscription_id }},
                            "shipping_interval_unit_type": "{{ subProd.metafields.subscriptions.shipping_interval_unit_type }}",
                            "charge_internal_frequency": {{ subProd.variants[0].metafields.subscription.charge_internal_frequency }},
                            "shipping_interval_frequency": {{ subProd.variants[0].metafields.subscription.shipping_interval_frequency }},
                            "discount_variant_id": {{ subProd.variants[0].metafields.subscriptions.discount_variant_id }},
                            "is_hidden": {% if subProd.variants[0].metafields.subscription.is_hidden != '' %}{{ subProd.variants[0].metafields.subscription.is_hidden }}{% else %}null{% endif %}
                        }
                    }
                </script>
        {% endunless %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% schema %}
{
  "name": "Owlcrate Template",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "header",
      "content": "feature block Content"
    },
    {
      "type":"checkbox",
      "id": "enable_featuredsection",
      "label": "Enable Section?"
    },
    {
      "type": "text",
      "id": "feature_heading",
      "label": "Feature Heading"
    },
    {
      "type": "select",
      "id": "grid_size",
      "label": "Grid Size",
      "options": [{
        "value": "12",
        "label": "1 Column"
      },
        {
          "value": "6",
          "label": "2 Columns"
        },
        {
          "value": "4",
          "label": "3 Columns"
        }
      ],
      "default": "6"
    },
    {
      "type": "header",
      "content": "Newsletter Content"
    },
    {
      "type":"checkbox",
      "id": "enable_newsletter",
      "label": "Enable Newsletter Section?"
    },
    {
      "type": "text",
      "id": "klaviyo_jr",
      "label": "Klaviyo List ID For Adult"
    },
    {
      "type":"header",
      "content": "OwlCrate Plan Content"
    },
    {
      "type": "checkbox",
      "id": "enable_plan",
      "label": "Enable Section?"
    },
    {
      "type": "text",
      "id": "plan_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "plan_caption",
      "label": "Sub Text"
    },
    {
      "type": "header",
      "content": "Yotpo Reviews Section"
    },
    {
      "type": "checkbox",
      "id": "enabled_yotpo_reviews",
      "label": "Enable Section?"
    },
    {
      "type": "header",
      "content": "Featured YouTube Section"
    },
    {
      "type": "checkbox",
      "id": "enable_featuredyoutube",
      "label": "Enable Section?"
    },
    {
      "type": "text",
      "id": "feature_youtube_heading",
      "label": "Youtube Heading"
    },
    {
      "type": "header",
      "content": "Brand Section"
    },
    {
      "type": "text",
      "id": "feature_in",
      "label": "Brand Section Heading"
    },
    {
      "type": "checkbox",
      "id": "enable_brand",
      "label": "Enable Section?"
    },
    {
      "type": "header",
      "content": "FAQ section"
    },
    {
      "type": "checkbox",
      "id": "enable_faq",
      "label": "Enable FAQ?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "fluid_layout_faq",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "text",
      "id": "faq_heading",
      "label": "Faq Heading"
    }
  ],
  "blocks": [
    {
      "type": "page_banner",
      "limit": 1,
      "name": "Page Banner",
      "settings": [
        {
          "type": "checkbox",
          "id": "page_banner",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "header",
          "content": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Select Mobile Image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "image_picker",
          "id": "image_box",
          "label": "Select Box Image"
        },
        {
          "type": "text",
          "id": "heading_box",
          "label": "Box Heading"
        },
        {
          "type": "text",
          "id": "caption_box",
          "label": "Box Caption"
        },
        {
          "type": "header",
          "content": "Theme Link"
        },
        {
          "type": "checkbox",
          "id": "enabled",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Click Here For More Info About This Theme"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Link Color"
        },
        {
          "type": "url",
          "id": "theme_link",
          "label": "Theme Page Link"
        },
        {
          "type": "checkbox",
          "id": "enable_timer",
          "label": "Enable Timer"
        },
        {
          "type": "text",
          "id": "choose_date",
          "label": "Enter Sale Date",
          "info": "Example. August 22, 2019"
        },
        {
          "type": "text",
          "id": "sale_text",
          "label": "Sale Content"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Select Product Image"
        },
        {
          "type": "checkbox",
          "id": "banner_text_checkbox",
          "label": "Enabled ?",
          "default": true
        },
        {
          "type": "text",
          "id":   "banner_text",
          "label":"Banner Text"
        },
        {
          "type": "range",
          "id":   "banner_test_font_size",
          "min":  15,
          "max":  30,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 15
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text",
          "default": "SUBSCRIBE"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
            "value": "outline",
            "label": "Outline"
          },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
            "value": "",
            "label": "Default"
          },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "btn_txt_second",
          "label": "Button Text",
          "default": "Give A Gift"
        },
        {
          "type": "select",
          "id": "btn_type_second",
          "label": "Button Type",
          "options": [{
            "value": "outline",
            "label": "Outline"
          },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant_second",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "btn_size_second",
          "label": "Button Size",
          "options": [{
            "value": "",
            "label": "Default"
          },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "feature",
      "name": "Feature Block",
      "settings": [
        {
          "type": "checkbox",
          "id": "feature_block",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "icon_class",
          "label": "SVG URL"
        },
        {
          "type": "image_picker",
          "id": "image_feature",
          "label": "Select Image"
        },
        {
          "type": "text",
          "id": "heading_feature",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "txt",
          "label": "Text"
        }
      ]
    },
    {
      "type": "feature_owlcrate",
      "name": "Feature Owlcrate",
      "settings": [
        {
          "type": "checkbox",
          "id": "feature_owlcrate",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "Background Color",
          "default": "#e1e0f5"
        },
        {
          "type": "text",
          "id": "heading_owlcrate",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image_owlcrate",
          "label": "Select Image"
        },
        {
          "type": "header",
          "content": "Features Item"
        },
        {
          "type": "text",
          "id": "features_item_fist",
          "label": "Features Fist"
        },
        {
          "type": "text",
          "id": "features_item_second",
          "label": "Features Second "
        },
        {
          "type": "text",
          "id": "features_item_third",
          "label": "Features Third"
        },
        {
          "type": "text",
          "id": "features_item_four",
          "label": "Features Four"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
            "value": "outline",
            "label": "Outline"
          },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
            "value": "",
            "label": "Default"
          },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "feature_youtube",
      "name": "Feature Youtube",
      "settings": [
        {
          "type": "text",
          "id": "video_url",
          "label": "YouTube Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_image",
          "label": "Video Poster Image"
        },
        {
          "type": "textarea",
          "id": "video_account",
          "label": "video account Name"
        },
        {
          "type": "text",
          "id": "video_platforms",
          "label": "video Platforms Name"
        }
      ]
    },
    {
      "type": "feature_logo",
      "name": "Feature Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Select Image"
        },
        {
          "type": "url",
          "id": "logo_url",
          "label": "Url"
        }
      ]
    },
    {
      "type": "past_boxes",
      "name": "Past Boxes",
      "settings": [
        {
          "type": "checkbox",
          "id": "past_boxes",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "header",
          "content": "header"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Blog section"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Assign Blog"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
            "value": "outline",
            "label": "Outline"
          },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
            "value": "",
            "label": "Default"
          },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "plan_product",
      "name": "Plan Products",
      "settings": [
        {
          "type": "product",
          "id": "main_product",
          "label": "Choose Product"
        }
      ]
    },

    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "checkbox",
          "id": "faq_check",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        },
        {
          "type": "richtext",
          "id": "txt",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}